{% extends 'home/base.html' %}

{% block active_class %}cabinet{% endblock %}

{% block content %}
<p>{{ account.first_name }}</p>
<p>{{ account.last_name }}</p>

{% if user.patient %}
    <p><a href="{% url 'add-record' %}">Добавить запись</a></p>
    {% for record in records %}
        <p>{{ record.title }}</p>
        <p>{{ record.description }}</p>
    {% endfor %}
{% endif %}


{% if user.doctor %}
    <p>Мои пациенты:</p>
    {% for patient in related_patients %}
        <p>{{ patient.last_name }} {{ patient.first_name }} {{ patient.father_name }}
        <a href="{% url 'profile' patient.user.id %}">Профиль</a></p>
    {% endfor %}
{% endif %}

{% endblock %}