{% extends 'home/base.html' %}

{% block active_class %}cabinet{% endblock %}

{% block content %}
<p>Имя: {{ account.first_name }}</p>
<p>Фамилия: {{ account.last_name }}</p>

{% if user.patient %}
    <p><a href="{% url 'add-record' %}">Добавить запись</a></p>
    {% for record in records %}
        <p>{{ record.title }}</p>
        <p>{{ record.description }}</p>
    {% endfor %}
{% endif %}


{% if user.doctor %}
<div>
    <a href="{% url 'reception' %}">Записи приемов</a>
</div>
<div class="center-div">
    <h1>Мои пациенты:</h1>
    {% for patient in related_patients %}
    <div class="center-div-record">
        <p>{{ patient.last_name }} {{ patient.first_name }} {{ patient.father_name }}</p>
        <a href="{% url 'profile' patient.user.id %}">Профиль</a>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}