{% extends 'home/base.html' %}


{% block content %}
<div class="back__button">
    {% comment %} <button type="button" onclick="history.back()" class="btn">Вернуться</button> {% endcomment %}
    <a href="{% url 'profile' profile_id %}">Вернуться</a>
</div>

<input type="hidden" name="profile_id" value="{{ profile_id }}">
{% if request.user.doctor.role not in rolesNA %}
<div class="center_div">
    <div>
        <h3>Планы посещений пациента</h3>
    </div>
    {% comment %} {% if request.user.doctor.role not in rolesR %} {% endcomment %}
    
    <div class="form" style="display: none">
    {% comment %} <div class="form" > {% endcomment %}
        <form action="" method="POST">
            <input type="hidden" name="type" value="add">
            {% csrf_token %}
            <div class="form_content">
                <div class="form_form">
                    <div class="form_labels">
                        <strong>{{ add_form.date_recording.label }}</strong>
                        <strong>{{ add_form.service.label }}</strong>
                        <strong>{{ add_form.deadline_from.label }}</strong>
                    </div>
                    <div class="form_inputs">
                        {{ add_form.date_recording }}
                        {{ add_form.service }}
                        <p>{{ add_form.deadline_from }} <strong>{{ add_form.deadline_to.label }}</strong> {{add_form.deadline_to }}</p>
                    </div>
                </div>
                
                <p id="add_error" class="error"></p>
                <div class="two_btns">
                    <button type="reset" class="btn">Отмена</button>
                    <button type="submit" class="btn" add>Добавить</button>
                </div>
            </div>
        </form>
        <div class="X">&#x2715;</div>
    </div>
    <div class="form confirm" style="display: none">
    {% comment %} <div class="form" > {% endcomment %}
        <form action="" method="POST">
            <input type="hidden" name="type" value="confirm">
            <input type="hidden" name="row_id" value="-1" confirm="">
            {% csrf_token %}
            <div class="form_content">
                <div class="form_form">
                    <div class="form_labels">
                        <strong>{{ confirm_form.doctor.label }}</strong>
                        <strong>{{ confirm_form.date_meeting.label }}</strong>
                    </div>
                    <div class="form_inputs">
                        {{ confirm_form.doctor }}
                        {{ confirm_form.date_meeting }}
                    </div>
                </div>
                
                <p id="confirm_error" class="error"></p>
                <div class="two_btns">
                    <button type="reset" class="btn">Отмена</button>
                    <button type="submit" class="btn" confirm>Записать</button>
                </div>
            </div>
        </form>
        <div class="X">&#x2715;</div>
    </div>
    <div class="form result" style="display: none">
    {% comment %} <div class="form"> {% endcomment %}
        <form enctype="multipart/form-data" method="post" action="">
            <input type="hidden" name="type" value="result">
            <input type="hidden" name="row_id" value="-1" result="">
            {% csrf_token %}
            <div class="form_content">
                <div class="fields__input">
                    <div class="fields__input__label">
                        <strong>{{ result_form.date_completed.label }}</strong>
                    </div>
                    <div class="fields__input__field">
                        {{ result_form.date_completed }}
                    </div>
                </div>
                <div class="fields__input">
                    <div class="fields__input__label">
                        <strong>{{ result_form.result.label }}</strong>
                    </div>
                    <div class="fields__input__field">
                        {{ result_form.result }}
                    </div>
                </div>
                <div class="fields__input">
                    <div class="fields__input__label">
                        <strong>{{ result_form.file_field.label }}</strong>
                    </div>
                    <div class="fields__input__field">
                        {{ result_form.file_field }}
                    </div>
                </div>
                
                <p id="result_error" class="error"></p>
                <div class="two_btns">
                    <button type="reset" class="btn">Отмена</button>
                    <button type="submit" class="btn" result>Сохранить</button>
                </div>
            </div>
        </form>
        <div class="X">&#x2715;</div>
    </div>
    
    <div class="modification_btns">
        <div>
            <button type="submit" class="mod_btn btn" id="add">Добавить</button>
            <div class="relative">
                <div class="menu__options" style="display: none" id="service">
                    <div class="menu__element"><button class="menu_btn same_btn">Лабораторная диагностика</button></div>
                    <div class="menu__element"><button class="menu_btn same_btn">Инструментальная диагностика</button></div>
                    <div class="menu__element"><button class="menu_btn same_btn">Консультация</button></div>
                </div>
            </div>
        </div>
        <a id="change"><button disabled class="mod_btn btn" id="change_btn">Изменить</button></a>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="delete_id" value="-1">
            <button disabled type="submit" class="mod_btn btn same_btn" id="del_btn">Удалить</button>
        </form>
    </div>
    {% if notes %}
    <div class="block__profile__disease border_div reception_page">
        <div class="block__lines">
            <table class="table">
                <thead>
                    <tr>
                        <th>Пациент</th>
                        <th>Дата записи</th>
                        <th>Услуга</th>
                        <th>Срок выполнения</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for note in notes %}
                    <tr class="chooseable">
                        <input type="hidden" name="{{ note.pk }}" value="{{ note.pk }}">
                        <td>{{ note.patient }}</td>
                        <td>{{ note.date_recording }}</td>
                        {% if note.status == 'recorded' %}
                        <td><button class="strong btn same_btn noborder recorded">{{ note.get_service_display }}</button></td>
                        {% else %}
                        <td>{{ note.get_service_display }}</td>
                        {% endif %}
                        <td>{{ note.deadline }}</td>
                        {% if note.status == 'required' %}
                        <td><button class="strong btn same_btn noborder required">{{ note.get_status_display }}</button></td>
                        {% elif note.status == 'recorded' %}
                        <td><span>{{ note.get_status_display }}: {{ note.date_meeting }}</span></td>
                        {% elif note.status == 'completed' %}
                        <td><span>{{ note.get_status_display }}: {{ note.date_completed }}</span></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <h3>Посещения не назначены</h3>
    {% endif %}
</div>
<script type="text/javascript">
    // choose row, color to YELLOW
    var change = document.getElementById('change');
    var change_btn = document.getElementById('change_btn');
    var delete_id = document.querySelector('input[name="delete_id"]');
    var del_btn = document.getElementById('del_btn');
    var url = document.URL.split('/').slice(0, 3).join('/') + '/';
    var profile_id = document.querySelector('input[name="profile_id"]').value;
    var choosen = undefined;
    
    var rows = [...document.getElementsByClassName('chooseable')];
    for (let row of rows) {
        row.onclick = (e) => {
            if (choosen !== undefined && choosen !== e.currentTarget) {
                choosen.style = "";
                choosen.selected = "false";
            }
            console.log(`${e.target.tagName}`);
            if (e.currentTarget.selected !== "true" && e.target.tagName !== "BUTTON") {
                let notepk = e.currentTarget.children[0].value;
                e.currentTarget.style.background = "#ffe55b";
                change.setAttribute('href', `${url}account/reception/update/${profile_id}/${notepk}`);
                change_btn.removeAttribute('disabled');
                delete_id.value = notepk;
                del_btn.removeAttribute('disabled');
                e.currentTarget.selected = "true";
                choosen = e.currentTarget
            } else {
                e.currentTarget.style = "";
                change.removeAttribute('href');
                change_btn.setAttribute('disabled', '');
                delete_id.value = "-1";
                del_btn.setAttribute('disabled', '');
                e.currentTarget.selected = "false";
                choosen = undefined;
            }
        };
    }
</script>
<script type="text/javascript">
    // add click events to open confirm and result forms
    try {
        var requireds = document.getElementsByClassName('required');
        var confirm = document.getElementsByClassName('confirm')[0];
        let row_id = document.querySelector('input[confirm=""]');
        
        for (let b of requireds) {
            b.onclick = e => {
                confirm.style.display = 'flex';
                row_id.value = b.parentNode.parentNode.children[0].value;
            }
        }
    } catch (error) {console.log(`${error}`);}
    try {
        var recordeds = document.getElementsByClassName('recorded');
        var result = document.getElementsByClassName('result')[0];
        let row_id = document.querySelector('input[result=""]');
        
        for (let b of recordeds) {
            b.onclick = e => {
                result.style.display = 'flex';
                row_id.value = b.parentNode.parentNode.children[0].value;
            }
        }
    } catch (error) {console.log(`${error}`);}
</script>
<script type="text/javascript">
    // check forms errors
    add_error.nextElementSibling.children[1].onclick = e => {
        let prevDiv = add_error.previousElementSibling;
        let [from, txt, to] = [...prevDiv.children[1].children[2].children];
        try {
            if (Number(from.value) > Number(to.value)) {
                add_error.innerHTML = "Неверный срок выполнения";
                return false;
            }
        } catch (error) {console.log(`${error}`);}
        // add_error.parentNode.parentNode.submit();
    };
</script>
<script type="text/javascript">
    try {
        var add_btn = document.getElementById('add');
        var service = document.getElementById('service');
        var section = "Лабораторная диагностика";
        
        add_btn.onclick = e => {
            if (service.style.display === 'none') {
                service.style.display = 'block';
            } else {
                service.style.display = 'none';
            }
        };
        
        var add_btns = document.querySelectorAll('button[class="menu_btn same_btn"]');
        var banner = document.getElementsByClassName('form')[0];
        
        var select = document.getElementById('id_service');
        var options = [...select.children];
        
        var lab_diag = options.splice(1, 14);
        var inst_diag = options.splice(1, 1);
        var consult = options.splice(1);
        var arr = [lab_diag, inst_diag, consult];
        var arr_txt = ['', '', ''];
        for (let i = 0; i < 3; i++)
            for (let opt of arr[i])
                arr_txt[i] += `<option value="${opt.value}" selected="">${opt.innerHTML}</option>`;
        var lab_diag_txt = arr_txt[0];
        var inst_diag_txt = arr_txt[1];
        var consult_txt = arr_txt[2];
        
        for (let b of add_btns) {
            b.onclick = e => {
                banner.style.display = 'flex';
                service.style.display = 'none';
                var txt = '';
                switch (b.innerHTML) {
                    case "Лабораторная диагностика":
                        select.innerHTML = lab_diag_txt;
                        break;
                    case "Инструментальная диагностика":
                        select.innerHTML = inst_diag_txt;
                        break;
                    case "Консультация":
                        select.innerHTML = consult_txt;
                }
            };
        }
        
        var two_btns = document.getElementsByClassName('two_btns')[0].children;
        var add = two_btns[1];
        var cancel_btns = document.querySelectorAll('button[type="reset"]');
        
        for (let cancel of cancel_btns) {
            cancel.onclick = e => {
                cancel.parentNode.parentNode.parentNode.parentNode.style.display = 'none';
            };
        }
    } catch (error) { console.log(`${error}`); };
    try {
        // add X for close form
        var forms = [...document.getElementsByClassName('form')];
        var xs = [...document.getElementsByClassName('X')];
        
        for (let i = 0; i < forms.length; i++) {
            let form = forms[i];
            let x = xs[i];
            form.onmouseover = e => {
                if (e.target === form || e.target === x) {
                    x.style.color = 'rgb(176, 174, 255)';
                } else {
                    x.style.color = '#000';
                }
            };
            form.onclick = e => {
                if (e.target === form || e.target === form) {
                    form.style.display = 'none';
                }
            };
        }
    } catch (error) { console.log(`${error}`); };
</script>
{% else %}
    <h2>Доступ к данной странице запрещен</h2>
{% endif %}
{% endblock %}