{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

    <div class="form__block">
        <form action="" method="POST">
            {% csrf_token %}

            <div class="fields">
                {% for p in form %}
                    <div class="fields__input">
                        <div class="fields__input__label">
                            {{ p.label }}:
                        </div>
                        <div class="fields__input__field">
                            {{ p }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="submit-btn">
                <button type="submit">Добавить запись</button>
            </div>
        </form>
    </div>
{% endblock %}