{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Med-system</title>
</head>
<body>
    {% if not user.is_anonymous %}
        {% if user == "admin" or user == "doctor" %}
        <header style="grid-template-columns: repeat(4, 1fr);">
        {% else %}
        <header style="grid-template-columns: repeat(3, 1fr);">
        {% endif %}
            <a href="{% url 'home' %}"><div class="active">Главная</div></a>
            <a href="#"><div>Личный кабинет</div></a>
            {% if user == "doctor" %}<a href="#"><div>Добавить пациента</div></a>
            {% elif user == "admin" %}<a href="#"><div>Добавить врача</div></a>
            {% endif %}<a href="{% url 'logout' %}"><div>Выход</div></a>
        </header>
    {% endif %}
        
    {% block content %}
    {% endblock%}

</body>
</html>