{% extends 'home/base.html' %}

{% block content %}
<div class="account">
    {% if not user.is_superuser %}
    <div>
        <div class="fio">
            <div class="fio__element">
                <p><strong>Фамилия:</strong> {{ account.last_name }}</p>
            </div>
            <div class="fio__element">
                <p><strong>Имя:</strong> {{ account.first_name }}</p>
            </div>
            {% if account.father_name %}
                <div class="fio__element">
                    <p><strong>Отчество:</strong> {{ account.father_name }}</p>
                </div>
            {% endif %}
            {% if user.doctor %}
                <div class="fio__element">
                    <p><strong>Специальность:</strong> {{ account.get_role_display }}</p>
                </div>
            {% endif %}
        </div>
        
        {% if user.patient %}
        <div class="lines__element btn">
            <p><a href="{% url 'records' %}">Записи самонаблюдения</a></p>
        </div>
        {% endif %}
    </div>
    {% endif %}
    
    {% if not user.is_superuser %}
    <fieldset>
        {% if user.patient %}
            <legend>
                <h3>План посещений:</h3>
            </legend>
            <div class="notes__block user__block">
                {% for note in notes %}
                    <div class="logs__row">
                        <div class="notes__row">
                            {% if user.patient %}
                                <div class="notes__element">
                                    <p><strong>Доктор:</strong> {{ note.instance.doctor.get_full_name }}</p>
                                </div>
                            {% else %}
                                <div class="notes__element">
                                    <p><strong>Пациент:</strong> {{ note.instance.patient.get_full_name }}</p>
                                </div>
                            {% endif %}
                            {% for p in note %}
                                <div class="notes__element">
                                    <p><strong>{{ p.label_tag }}</strong>
                                        {% if p.field.choices %}
                                            {% for i in p.field.choices %}
                                                {% if p.value == i.0 %}
                                                    {% if not i.0 %}
                                                        ---------
                                                    {% else %}
                                                        {{i.1}}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% elif not p.value %}
                                            ---------
                                        {% elif p.value %}
                                            {{ p.value }}
                                        {% endif %}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        {% if user.doctor %}
            <legend>
                <h3>Мои пациенты:</h3>
            </legend>
            <div class="user__block">
                <div class="user__block__row">
                    {% for patient in related_patients %}
                    <div class="user__block__border logs__row">
                        <div class="user__block__element">
                            <p>{{ patient.get_full_name }}, {{ patient.age }} лет</p>
                            <p><strong>Тел.:</strong> {{ patient.telephone }}, <strong>Email:</strong> {{ patient.email }}</p>
                        </div>
                        <div class="user__block__element">
                            <a href="{% url 'profile' patient.user.id %}">Профиль</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </fieldset>
    {% endif %}
    {% if not user.patient %}
    <fieldset>
        <legend>
            <h3>Клинические и методические рекомендации</h3>
        </legend>
        <div class="recomendations">
            {% for doc in docs %}
            <div class="user__block__border">
                <div class="user__block__element">
                    <a href="{{ doc.document.url }}" download>{{ doc.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </fieldset>
    {% endif %}
</div>

{% endblock %}