{% extends 'home/base.html' %}

{% block content %}

<div class="account">
    {% if not user.is_superuser %}
    <div class="fio">
        <div class="fio__element">
            <p>Фамилия: {{ account.last_name }}</p>
        </div>
        <div class="fio__element">
            <p>Имя: {{ account.first_name }}</p>
        </div>
        {% if account.father_name %}
            <div class="fio__element">
                <p>Отчество: {{ account.father_name }}</p>
            </div>
        {% endif %}
    </div>

    <div class="lines__element">
        <a href="{% url 'reception' %}">План посещений</a>
    </div>
    {% endif %}
    
    {% if user.patient %}
        <div class="lines__element">
            <p><a href="{% url 'records' %}">Записи самонаблюдения</a></p>
        {% comment %} </div>
        <div class="user__block">
            <div class="user__block__row">
                <div class="outer_div">
                    <div class="border_div">
                        {% for record in records %}
                            <div class="user__block__element">
                                <p><strong>Название:</strong> {{ record.title }}</p>
                            </div>
                            <div class="user__block__element">
                                <p><strong>Описание:</strong> {{ record.description }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    {% endif %}
    
    
    {% if user.doctor %}
        <div class="user__block">
            <div class="title__block">
                <h2>Мои пациенты:</h2>
            </div>

            <div class="user__block__row">
                {% for patient in related_patients %}
                    <div class="user__block__element">
                        <p>{{ patient.last_name }} {{ patient.first_name }} {{ patient.father_name }}</p>
                    </div>
                    <div class="user__block__element">
                        <a href="{% url 'profile' patient.user.id %}">Профиль</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}