{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>
<div class="mo_delivery_block">
    <div class="form__block">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="fields">
                {% for f in form %}
                <div class="fields__input">
                    <div class="fields__input__label">
                        {{ f.label }}:
                    </div>
                    <div class="fields__input__field">
                        {{ f }}
                    </div>
                </div>
                <p>{{ f.errors }}</p>
                {% endfor %}
            </div>
            <div class="submit-btn">
                <input type="submit" value="Сохранить">
            </div>
        </form>
    </div>
</div>
<div class="block__profile__info mo_classification">
    <div>
        <h3>Классификация</h3>
        <div class="block__lines">
            <div class="lines__element  same_btn">
                <p><strong>Первый уровень</strong></p>
                <p>- доношенным (срок гестации - 37 - 40 недель);</p>
                <p>- одним плодом;</p>
                <p>- в головном предлежании.</p>
            </div>
        </div>
        <div class="block__lines">
            <div class="lines__element  same_btn">
                <p><strong>Второй уровень</strong></p>
                <p>Акушерские стационары, имеющие круглосуточный пост врачей акушера-гинеколога, анестезиолога.</p>
                <p>Имеется возможность вызова врача-неонатолога на осложненные роды или имеется круглосуточный пост врача-неонатолога.</p> 
            </div>
        </div>
        <div class="block__lines">
            <div class="lines__element  same_btn">
                <p><strong>Третий уровень</strong></p>
                <p>Акушерские стационары, имеющие отделение реанимации для новорожденных, отделение реанимации для беременных и родильниц.</p>
                <p>Круглосуточные посты врачей акушеров-гинекологов, анестезиологов, неонатологов.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}