{% extends 'home/base.html' %}

{% block active_class %}cabinet{% endblock %}

{% block content %}
<a href="{{request.META.HTTP_REFERER}}" class="back_btn">Вернуться</a>

<div class="center-div">
    {% for note in notes %}
    <div class="center-div-record">
        {% if user.patient %}
            <p><strong>Доктор:</strong> {{ note.doctor.get_full_name }}</p>
        {% else %}
            <p><strong>Пациент:</strong> {{ note.patient.get_full_name }}</p>
        {% endif %}
        <p><strong>Дата:</strong> {{ note.date_meeting }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}