{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

<div class="notes__block center_div">
    {% for note in notes %}
        <div class="outer_div">
            <div class="border_div">
                <div class="hide_info">
                    <div class="notes__row">
                        <div class="notes__element">
                            <p class="date"><strong>Дата:</strong> {{ note.date_meeting }}</p>
                        </div>
                        {% if user.patient %}
                            <div class="notes__element">
                                <p><strong>Доктор:</strong> {{ note.doctor.get_full_name }}</p>
                            </div>
                        {% else %}
                            <div class="notes__element">
                                <p><strong>Пациент:</strong> {{ note.patient.get_full_name }}</p>
                            </div>
                        {% endif %}
                        <div class="notes__element">
                            <p><strong>Медицинская организация:</strong> {{ note.med_organization }}</p>
                        </div>
                        <div class="notes__element">
                            <p><strong>Специальность:</strong> {{ note.specialization }}</p>
                        </div>
                        <div class="notes__element">
                            <p><strong>Номер посещения специалиста:</strong> {{ note.visit_number }}</p>
                        </div>
                        <div class="notes__element">
                            <p><strong>Кабинет:</strong> {{ note.cabinet }}</p>
                        </div>
                        <div class="notes__element">
                            <p><strong>Посещено:</strong> {% if note.status == True %}Да{% else %}Нет{% endif %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if page_obj.has_other_pages %}
        <div class="paginate center_paginate">
            {% if page_obj.has_previous %}
                <div class="paginate__element">
                    <a href="?page=1">Первая</a>
                </div>
                <div class="paginate__element">
                    <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                </div>
            {% endif %}
            
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <div class="paginate__element">
                        <span>{{ num }}</span>
                    </div>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <div class="paginate__element">
                        <a href="?page={{ num }}">{{ num }}</a>
                    </div>    
                {% endif %}
            {% endfor %}
            
            {% if page_obj.has_next %}
                <div class="paginate__element">
                    <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                </div>
                <div class="paginate__element">
                    <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
<script type="text/javascript" defer>
    var infos = document.getElementsByClassName('hide_info');
    for (let info of infos) {
        info.style.maxHeight = info.firstElementChild.firstElementChild.firstElementChild.offsetHeight + "px";;
        info.addEventListener('click', e => {
            let h = e.currentTarget.firstElementChild.firstElementChild.firstElementChild.offsetHeight + "px";
            if (Number(e.currentTarget.style.maxHeight.slice(0, -2)) > Number(h.slice(0, -2)))
                e.currentTarget.style.maxHeight = h;
            else
                e.currentTarget.style.maxHeight = e.currentTarget.scrollHeight + "px";
        })
    }
</script>
{% endblock %}