{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <a href="{{request.META.HTTP_REFERER}}" class="back_btn">Вернуться</a>
</div>

<div class="notes__block">
    {% for note in notes %}
        <div class="notes__row">
            {% if user.patient %}
                <div class="notes__element">
                    <p><strong>Доктор:</strong> {{ note.doctor.get_full_name }}</p>
                </div>
            {% else %}
                <div class="notes__element">
                    <p><strong>Пациент:</strong> {{ note.patient.get_full_name }}</p>
                </div>
            {% endif %}
            <div class="notes__element">
                <p><strong>Медицинская организация:</strong> {{ note.med_organization }}</p>
            </div>
            <div class="notes__element">
                <p><strong>Кабинет:</strong> {{ note.cabinet }}</p>
            </div>
            <div class="notes__element">
                <p class="date"><strong>Дата:</strong> {{ note.date_meeting }}</p>
            </div>
        </div>
    {% endfor %}
</div>
<script type="text/javascript">
    {% comment %} var records = document.getElementsByClassName('notes__row');
    for (let rec of records) {
        if (rec.)
    } {% endcomment %}
</script>
{% endblock %}