{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>
<div class="user__block__element btn">
    <p><a href="{% url 'add-record' %}">Добавить запись самонаблюдения</a></p>
</div>


<div class="user__block" style="width: fit-content">
    <div class="user__block__row">
        {% for record in records %}
        <div class="outer_div">
            <div class="border_div">
                <div class="user__block__element">
                    <p><strong>Название:</strong> {{ record.title }}</p>
                </div>
                <div class="user__block__element">
                    <p><strong>Описание:</strong> {{ record.description }}</p>
                </div>
                <div class="user__block__element">
                    <p><strong>Дата создания:</strong> {{ record.date_created }}</p>
                </div>
                <div class="user__block__element">
                    <p><strong>Дата поледнего изменения:</strong> {{ record.date_updated }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
</script>
{% endblock %}