{% extends 'home/base.html' %}

{% block content %}
<div class="center-div">
{% for user_i in users %}
<div class="center-div-record">
    <p>{{ user_i.get_full_name }}</p>
    {% if user_i.groups == 'p' %}
    <p>Пациент</p>
    {% else %}
    <p>Доктор</p>
    {% endif %}
    <p><a href="{% url 'profile' user_i.id %}">Профиль</a></p>
</div>
{% endfor %}
</div>
<div class="pagination">
    {% for p in paginator.page_range %}
    <p>
        {% if page_obj.number == p %}
        <span>{{ p }}</span>
        {% else %}
        <a href="?page={{ p }}">{{ p }}</a>
        {% endif %}
    </p>
    {% endfor %}
</div>
{% endblock %}