{% extends 'home/base.html' %}

{% block content %}
<div class="file__page__block">
    <div class="upload-file">
        {% if user.is_superuser %}
            <a href="{% url 'upload-files-page' %}">Загрузить Файлы</a>
        {% endif %}
    </div>

    <div class="files__block">
        {% for f in files %}
            <div class="files__block__element">
                <p>{{ f.title }}</p>
            </div>
            <div class="files__block__element">
                <p>{{ f.description }}</p>
            </div>
            <div class="files__block__element">
                <a href="{{ f.document.url }}" download>Скачать файл</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}