{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

<div class="form__block">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fields">
            <div class="fields__input">
                <div class="fields__input__label">
                    {{ form.non_field_errors }}
                </div>
            </div>
            {% for p in form %}
            <div class="fields__input same_btn">
                <div class="fields__input__label width_100">
                    <label class="form-label" for="{{ p.id_for_label }}"><strong>{{ p.label }}</strong></label>
                </div>
                <div class="fields__input__field width_100">
                    <p>{{ p }}</p>
                </div>
            </div>
            <div class="fields__input">
                <div class="fields__input__label">
                    {{ f.errors }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="submit-btn">
            <button type="submit">Загрузить</button>
        </div>
    </form>
</div>
    
{% endblock %}