/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.hide {
    display: none;
}

.navbar {
    border: 1px solid black;
}

.navbar__row {
    display: flex;
    flex-direction: row;
}

.navbar__element:nth-child(1) {
    flex: 1;
}

.navbar__element {
    font-size: 32px;
    margin: 20px 30px;
    line-height: 60px;
}

.navbar__element a{
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.content {
    margin: 20px 25px;
}

.block__lines {
    display: flex;
    flex-direction: column;
}

.lines__element {
    font-size: 24px;
    margin: 0 0 20px 0;
}

.fields {
    display: flex;
    flex-direction: column;
}

.fields__input {
    display: flex;
    flex-direction: row;
    margin: 0 0 15px 0;
}

.fields__input__label {
    font-size: 18px;
    margin: 0 10px 0 0;
}

.fields__input__field {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
}

.fields__input__field input{
    font-size: 18px;
    width: 200px;
}

.fields__input__field select{
    font-size: 18px;
    width: 200px;
}

.submit-btn button{
    border: 1px solid black;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 5px;
}

.submit-btn input{
    border: 1px solid black;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 5px;
}

.back__button {
    margin: 0 0 20px 0;
}

.back__button a {
    font-size: 24px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.title__block {
    font-size: 24px;
    margin: 0 0 30px 0;
}

.admin__page__block {
    display: flex;
    flex-direction: column;
}

.fileds-in-row {
    display: flex;
    flex-direction: row;
}

.fileds-in-row .fields__input {
    margin: 0 20px 0 0;
}

.user__block {
    margin: 20px 0;
}

.user__block__row {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}

.user__block__element {
    padding: 0 0 8px 0;
    font-size: 18px;
}

.paginate {
    display: flex;
    flex-direction: row;
}

.paginate__element {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 10px;
    margin: 0 5px 0 0;
}

.file__page__block {
    display: flex;
    flex-direction: column;
}

.upload-file {
    font-size: 20px;
}

.files__block {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
}

.files__block__element {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.logs {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}

.logs__row {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}

.logs__element {
    font-size: 18px;
}

.account {
    display: flex;
    flex-direction: column;
}

.fio {
    display: flex;
    flex-direction: column;
}

.fio__element {
    font-size: 24px;
    margin: 0 0 10px 0;
}

.notes__block {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.notes__row {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.notes__element {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.noborder {
    border: 0;
}

.block__profile {
    display: flex;
    flex-direction: row;
    margin: 0 30px 0 0;
    justify-content: space-between;
}

.disease {
    font-size: 18px;
}

.toggle_btn {
    font-size: 32px;
    color: #15539e;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}

.relative {
    position: relative;
}

.menu__options {
    width: 200%;
    position: absolute;
    top: 10px;
    background-color: #f6f5f4;
    border: 2px solid black;
    border-radius: 5px;
    line-height: 1.4rem;
}

.menu__element {
    font-size: 1.4rem;
    margin: 7px 0 7px 7px;
}

.menu__element a {
    width: 100%;
    padding: 0%;
    border: none;
    text-decoration: underline;
}