/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
    background-color: #ecf1f4;
    font-family: sans;
}

fieldset {
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 20px;
}

fieldset legend h3 {
    line-height: 32px;
}

h2 {
    font-weight: bold;
    font-size: 32px;
}

h3 {
    font-weight: bold;
    font-size: 24px;
}

h4 {
    font-weight: bold;
    font-size: 16px;
}

button:hover {
    color: #018876;
}

a:hover {
    color: #018876;
}

.navbar {
    border: 1px solid black;
    background-color: #001c2f;
}

.navbar__row {
    display: flex;
    flex-direction: row;
}

.navbar__element:nth-child(1) {
    flex: 1;
}

.navbar__element {
    font-size: 32px;
    margin: 20px 30px;
    line-height: 62px;
}

.navbar__element > a {
    padding: 15px;
    /* border: 1px solid black; */
    border-radius: 15px;
    background-color: #fff;
    color: #000;
}

.navbar__element > a:hover {
    color: #018876;
}

.content {
    margin: 20px 25px;
}

.block__lines {
    display: flex;
    flex-direction: column;
}

.lines__element {
    font-size: 18px;
    margin: 0 0 15px 0;
}

.fields {
    display: flex;
    flex-direction: column;
}

.fields__input {
    display: flex;
    flex-direction: row;
    margin: 0 0 15px 0;
}

.add_form .fields__input {
    width: 45%;
}

.fields__input__label {
    font-size: 18px;
    margin: 0 10px 0 0;
}

.fields__input__field {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    margin-right: 10px;
    font-size: 18px;
}

.fields__input__field input {
    font-size: 18px;
}

.fields__input__field select {
    font-size: 18px;
    /* width: 200px; */
}

.fields__input__field * {
    width: 100%;
}

.submit-btn button {
    border: 1px solid black;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 5px;
}

.submit-btn input {
    border: 1px solid black;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 5px;
}

.back__button {
    margin: 0 0 20px 0;
}

.back__button a {
    font-size: 24px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.title__block {
    font-size: 24px;
    margin: 0 0 30px 0;
}

.admin__page__block {
    display: flex;
    flex-direction: column;
}

.fileds-in-row {
    display: flex;
    flex-direction: row;
}

.fileds-in-row .fields__input {
    margin: 0 20px 0 0;
}

.user__block {
    margin: 10px 0;
    height: 60vh;
    overflow: auto;
}

.user__block__row {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}

.user__block__border {
    display: flex;
    flex-direction: column;
}

.user__block__element {
    padding: 10px 0 0 0;
    font-size: 18px;
}

.paginate {
    display: flex;
    flex-direction: row;
}

.paginate__element {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 10px;
    margin: 0 5px 0 0;
}

.file__page__block {
    display: flex;
    flex-direction: column;
}

.upload-file {
    font-size: 20px;
}

.files__block {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
}

.files__block__element {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.login__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: #001c2f;
    color: #ffffff;
}

.login__wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login,
.login form,
.login form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login form div {
    align-items: baseline;
}

.logs {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}

.logs__row {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.logs__element {
    font-size: 18px;
}

.account {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-column-gap: 20px;
}

.fio {
    display: flex;
    flex-direction: column;
}

.fio__element {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.notes__block {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.notes__row {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.notes__element {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.noborder {
    border: 0;
}

.block__profile {
    display: grid;
    grid-template-columns: 400px 1fr 300px;
}

.block__profile__info {
    border-right: 1px solid black;
    margin-right: 15px;
    padding-right: 20px;
}

.disease {
    font-size: 18px;
}

.toggle_btn {
    font-size: 32px;
    color: #15539e;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}

.relative {
    position: relative;
}

.menu__options {
    width: min(200%, 230px);
    position: absolute;
    top: 10px;
    background-color: #f6f5f4;
    border: 2px solid black;
    border-radius: 5px;
    line-height: 1.4rem;
}

.menu__element {
    font-size: 1.4rem;
    margin: 7px 0 7px 7px;
}

.menu__element a {
    width: 100%;
    padding: 0%;
    border: none;
    text-decoration: underline;
}

.hide {
    display: none;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 3px 5px;
    font-size: 1.3rem;
    background-color: transparent;
    color: #15539e;
}

.btn:hover {
    background-color: rgb(179, 179, 179);
}

.same_btn {
    width: 100%;
}

.data_btns {
    height: max(calc(24px * 6), 100%);
}

.data_btn {
    font-size: 20px;
    background-color: transparent;
    text-decoration: underline;
    margin-bottom: 5px;
}

.banner {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999999cc;
}

.banner__content {
    width: max(40vw, 300px);
    height: max(40vh, 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #BFBEB0;
    border: 2px solid black;
}

.outer_div {
    width: fit-content;
    margin: 0px 0px 40px 20px;
}

.border_div {
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 5px;
    padding: 10px;
}

.complication {
    /* width: fit-content; */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 20px; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.complication > * {
    flex: 0 0 33.333%;
}

.cell_grid_2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.table {
	width: 100%;
	border: none;
    border-spacing: 0;
	margin-bottom: 20px;
}
.table thead th {
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #001c2f;
	font-size: 14px;
    font-weight: bold;
    color: #fff;
	border-left: 1px solid #868686;
	border-right: 1px solid #868686;
}
.table tbody td {
	text-align: left;
	border-left: 1px solid #868686;
	border-right: 1px solid #868686;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.table thead tr th:first-child, .table tbody tr td:first-child {
	border-left: none;
}
.table thead tr th:last-child, .table tbody tr td:last-child {
	border-right: none;
}
.table tbody tr:nth-child(even){
	background: #D9D8D0;
}

.block__profile__disease {
    margin: 0 20px;
}

th {
    font-size: 18px;
    font-weight: 300;
}

/* .add_patient { */
.add_form {
    max-width: 50vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* .add_patient .fields__input { */
.add_form .fields__input {
    display: block;
}

.form__block {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__block form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recomendations {
    padding-bottom: 20px;
}

.cut_width {
    width: fit-content;
    max-width: 30vw;
}

.center_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    /* margin: 0; */
}