/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: disc;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
    background-color: #ecf1f4;
    font-family: sans;
}

a * {
    color: #00385e;
}

select,
option,
input {
    background-color: #fff8;
}

/* table {
    backdrop-filter: blur(4px);
} */

thead {
    position: sticky;
    top: 0px;
}

fieldset {
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 20px;
    /* backdrop-filter: blur(8px); */
}

fieldset.outer_div {
    padding-top: 20px;
}

fieldset legend h3 {
    line-height: 32px;
}

fieldset .user__block__element {
    font-size: calc(1em + 0.5vh + 0.3vw);
}

h2 {
    font-weight: bold;
    font-size: 32px;
}

h3 {
    font-weight: bold;
    font-size: calc(1em + 0.5vh + 0.3vw);
}

h4 {
    font-weight: bold;
    font-size: 16px;
}

a:hover * {
    color: #00a5b1;
}

.navbar {
    border: 1px solid black;
    background-color: #001c2f;
}

.navbar__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
}

.navbar__row .btn {
    margin: 0 5px;
}

/* .navbar__row * {} */

.company_btn {
    max-width: 650px;
    cursor: default;
    word-break: break-word;
    overflow-y: hidden;
    line-height: normal;
    text-align: center;
}

.company {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    font-size: 32px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 50vw;
    height: auto;
    top: 80px;
    padding: 0;
    overflow: hidden;
    border: 0;
    transition: all .5s ease;
    max-height: 0px;
    z-index: 5;
}

.small {
    transition: all .5s ease;
    padding: 0;
    border: 0;
    height: 0;
}

.navbar__element:nth-child(1) {
    flex: 1;
}

.navbar__element {
    font-size: calc(10px + 0.3vw + 0.5vh);
    margin: 20px 30px;
    /* line-height: 67px; */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar__element > p > a {
    padding: 15px;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 7vh;
}

.navbar__element a:hover {
    color: #018876;
}

.content {
    margin: 20px 25px;
}

.block__lines {
    display: flex;
    flex-direction: column;
    position: relative;
}

.lines__element {
    font-size: calc(0.6em + 0.5vh + 0.3vw);
    margin: 7px 0 8px 0;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: fit-content; */
}

.fields__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: min(60vw, 600px); */
    margin: 0 0 15px 0;
}

.add_form .fields__input {
    width: 45%;
}

.fields__input__label {
    font-size: 18px;
    margin: 0 10px 0 0;
}

.fields__input__field {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    margin-right: 10px;
    font-size: 18px;
    flex: 0 0 50%;
    text-align: left;
    justify-content: flex-start;
    /* min-width: 50%; */
}

.fields__input__field input {
    font-size: 18px;
}

.fields__input__field select {
    font-size: 18px;
    /* width: 200px; */
}

.fields__input__field * {
    width: 100%;
}

.submit-btn button {
    border: 1px solid black;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 5px;
}

.submit-btn input {
    border: 1px solid black;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 5px;
}

.back__button {
    margin: 0 0 20px 0;
}

.back__button a {
    font-size: 24px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.title__block {
    font-size: 24px;
    margin: 0 0 30px 0;
}

.admin__page__block {
    display: flex;
    flex-direction: column;
}

.fileds-in-row {
    display: flex;
    flex-direction: row;
}

.fileds-in-row .fields__input {
    margin: 0 20px 0 0;
}

.home_fieldset {
    width: 100%;
}

.user__block {
    margin: 10px 0;
    max-height: 60vh;
    overflow: auto;
}

.user__block__row {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}

.user__block__border {
    display: flex;
    flex-direction: column;
}

.user__block__element {
    padding: 10px 0 0 0;
    font-size: 18px;
}

.paginate {
    display: flex;
    flex-direction: row;
}

.paginate__element {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 10px;
    margin: 0 5px 0 0;
}

.file__page__block {
    display: flex;
    flex-direction: column;
}

.upload-file {
    font-size: 20px;
}

.files__block {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
}

.files__block__element {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.login__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: #001c2f;
    color: #ffffff;
}

.login__wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login,
.login form,
.login form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__wraper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.login form div {
    align-items: baseline;
}

.logs {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}

.logs__row {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.logs__element {
    font-size: 18px;
}

.account {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    min-height: 60vh;
    /* display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-column-gap: 20px; */
}

.account > *{
    /* flex: 1; */
    margin: 0 20px;
}

.fio {
    display: flex;
    flex-direction: column;
}

.fio__element {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.notes__block {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.notes__row {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.notes__element {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.block__profile {
    /* display: grid;
    grid-template-columns: 400px 1fr; */
    display: flex;
    justify-content: center;
}

.block__profile__info {
    border-right: 1px solid black;
    margin-right: 15px;
    padding-right: 20px;
    flex: 0 0 400px;
}

.disease {
    font-size: 18px;
}

.toggle_btn {
    /* font-size: 32px; */
    color: #15539e;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}

.relative {
    position: relative;
    height: auto;
}

.menu__options {
    width: max-content;
    position: absolute;
    top: 10px;
    /* background-color: #f6f5f4; */
    border: 2px solid black;
    border-radius: 5px;
    line-height: 1.4rem;
    height: fit-content;
    z-index: 3;
    background-color: #eeea;
    backdrop-filter: blur(4px);
}

.menu__element {
    font-size: 1.4rem;
    margin: 10px;
    height: fit-content;
    position: relative;
}

.menu_btn {
    width: fit-content;
    padding: 3px 5px;
    font-size: 1.3rem;
    background-color: transparent;
    /* color: rgb(0, 56, 94); */
    color: rgb(1, 38, 63);
    text-align: left;
}

.menu_btn:hover {
    color: #00a5b1;
}

.menu__element a {
    width: 100%;
    padding: 0%;
    border: none;
    color: #00385e;
}

.menu__element a:hover {
    color: #018876;
}

.hide {
    display: none;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 3px 5px;
    font-size: calc(7px + 0.3vw + 0.5vh);
    background-color: transparent;
    color: #00385e;
    display: block;
    box-sizing: border-box;
}

.noborder {
    border: 0;
}

.btn a:visited {
    color: #15539e;
}

.btn:hover,
.btn a:hover {
    color: #018876;
}

a.btn {
    height: 100%;
    display: flex;
    align-items: center;
}

.btn:disabled {
    color: #000;
    cursor: default;
}

.same_btn {
    width: 100%;
}

.data_btns {
    height: max(calc(24px * 6), 100%);
}

.data_above {
    position: absolute;
    z-index: 2;
    /* position: fixed; */
    background-color: #ecf1f4;
    border: 1px solid black;
    border-radius: 5px;
    width: max-content;
    height: max-content;
    padding: 10px 20px;
    top: 40px;
    left: -5px;
}

.data_btn {
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    margin-bottom: 5px;
}

.banner {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999999cc;
}

.banner__content {
    width: max(40vw, 300px);
    height: max(40vh, 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #ecf1f4;
    border: 2px solid black;
}

.outer_div {
    /* width: 100%; */
    width: min(60vw, 600px);
    /* margin: 0px 0px 40px 20px; */
    margin: 20px 0;
}

.border_div {
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 5px;
    padding: 10px;
    backdrop-filter: blur(4px);
}

.complication {
    /* width: fit-content; */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 20px; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.complication > * {
    flex: 0 0 33.333%;
}

.cell_grid_2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.table {
	width: 100%;
	border: none;
    border-spacing: 0;
    /* backdrop-filter: blur(8px); */
    background-color: #fff7;
	/* margin-bottom: 20px; */
}
.table thead th {
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #001c2f;
	font-size: 14px;
    font-weight: bold;
    color: #fff;
	border-left: 1px solid #868686;
	border-right: 1px solid #868686;
}
.table tbody td {
	text-align: left;
	border-left: 1px solid #868686;
	border-right: 1px solid #868686;
	padding: 10px 15px;
	font-size: 18px;
	vertical-align: top;
}
.table thead tr th:first-child, .table tbody tr td:first-child {
	border-left: none;
}
.table thead tr th:last-child, .table tbody tr td:last-child {
	border-right: none;
}
.table tbody tr:nth-child(even){
	background: #b4e1ff;
}

.block__profile__disease {
    /* margin: 0 20px; */
    max-height: 30vh;
    overflow: scroll;
    padding: 0;
}

th {
    font-size: 18px;
    font-weight: 300;
}

/* .add_patient { */
.add_form {
    max-width: 50vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* .add_patient .fields__input { */
.add_form .fields__input {
    display: block;
}

.form__block {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__block form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recomendations {
    padding-bottom: 20px;
    max-height: 60vh;
    overflow: scroll;
}

.recomendations li {
    list-style-position: inside;
    margin-bottom: 10px;
}

.cut_width {
    width: fit-content;
    max-width: 30vw;
}

.center_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* margin: 0; */
}

.center_paginate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.statistics_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.statistics_block div{
    margin: 0 0 15px 0;
}

.graph {
    height: 300px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 0 40px 0;
}

.profile_data {
    display: flex;
    justify-content: space-evenly;
}

.profile_data table {
    border-spacing: 0px;
    border: none;
    margin-right: 30px;
}

.profile_data tr,
.profile_data td {
    font-size: calc(0.6em + 0.4vh + 0.25vw);
}

.profile_data td {
    /* border-top: 1px solid black; */
    padding: 5px;
    border-bottom: 1px solid rgb(121, 121, 121);
}

.reception_page {
    max-height: 50vh;
}

.reception_page tbody td,
.reception_page thead th {
    font-size: calc(7px + 0.3vw + 0.5vh);
}

.hide_info,
.forgot_pass {
    overflow-y: hidden;
    transition: max-height 0.5s ease-out;
}

.hide_info {
    /* max-height: 25px; */
    cursor: pointer;
}

.forgot_pass {
    max-height: 35px;
    margin-top: 20px;
}

#radio_btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

.width_100 {
    width: 100%;
}

.search_filters_container {
    display: flex;
    justify-content: space-around;
    height: fit-content;
}

.search_filters {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    /* width: 100%; */
}

.search_filters label {
    font-size: 20px;
    width: 100%;
}

.search_filters select,
.search_filters input {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 3px;
    width: 100%;
}

.message-block {
    position: absolute;
    z-index: 999;
    top: 15%;
    left: 40%;
    width: 300px;
    height: 200px;
    background-color: #ecf1f4;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.message-content {
    font-size: 24px;
    margin: 20px 0;
}

nav {
    display: flex;
    flex-direction: row;
    /* background-color: #ced2d5; */
    background-color: #ecf1f4;
    width: fit-content;
    /* height: fit-content; */
    height: 41px;
}

.nav_span {
    position: relative;
    display: flex;
    border: 0;
    padding-left: 30px;
    /* height: 40px; */
    /* height: fit-content; */
    border-bottom: 3px solid #585858;
    border-top: 3px solid #585858;
}

.container {
    position: relative;
}

.absolute_arrow_right,
.arrow_right {
    padding: 13px;
    /* padding: 10vh; */
    background-color: #ecf1f4;
    border-top: 3px solid #585858;
    border-left: 3px solid #585858;
    position: relative;
    transform: rotate(135deg);
    top: 3px;
    left: 13px;
}

.absolute_arrow_right {
    position: absolute;
    left: -44px;
    z-index: -1;
}

.nav_span:hover {
    background-color: #585858;
    transition: all ease 0.3s;
}

.nav_span:hover .nav_link {
    color: white;
    transition: all ease 0.3s;
}

.nav_span:hover .arrow_right {
    background-color: #585858;
    transition: all ease 0.3s;
}

.nav_span:hover .absolute_arrow_right {
    z-index: 2;
    transition: all ease 0.3s;
}

.nav_link {
    font-size: calc(0.6em + 0.5vh + 0.3vw);
    color: #1d1d1d;
    line-height: 35px;
    height: 100%;
}

.statistics_table {
    /* width: 100%; */
    /* border: 1px solid black; */
    border-spacing: 0;
    font-size: 26px;
    /* padding: 5vh 5vw; */
    margin: 5vh 5vw;
}

.statistics_table th,
.statistics_table td {
    border: 1px solid black;
    padding: 5px 10px;
}

.tabulation {
    text-indent: 40px;
}

.tabs {
    position: relative;         /* Относительное позиционирование */
    width: fit-content;
    display: flex;
    max-width: 70vw;
    height: fit-content;
}
.tab {
    flex: 1 0 min-content;
}
.tab, .tab-title {
    /* display: inline-block;      Выстраиваем по горизонтали */
    font-size: 20px;
    /* font-weight: bold; */
    width: fit-content;
}
.tab input[type="radio"] { 
    display: none;
}
.tab-title {
    background: #ccc;         /* Цвет фона */
    padding: 5px 10px;          /* Поля вокруг текста */
    border: 2px solid black;   /* Параметры рамки */
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    /* white-space: nowrap; */
    /* border-bottom: none;        Снизу линию убираем */
}
.tab-content {
    position: absolute;         /* Абсолютное позиционирование */
    border: 2px solid black;   /* Параметры рамки */
    border-top: 0;
    border-radius: 0 0 10px 10px;
    /* padding: 10px;              Поля вокруг текста */
    left: 0;                    /* Размещаем у левого края */
    width: 100%;   /* Ширина содержимого */
    display: none;              /* Прячем вкладку */
    height: 600px;
    overflow-y: scroll;
    justify-content: flex-start;
    /* backdrop-filter: blur(8px); */
}
.tab-content > a {
    height: auto;
}
.tab :checked + .tab-title {
    position: relative;         /* Относительное позиционирование */
    background: #ecf1f4;         /* Цвет фона */
    top: 1px;                   /* Сдвигаем вниз */
    z-index: 1;                 /* Отображаем поверх содержимого */
    border-bottom: none;
}
.tab :checked ~ .tab-content {
    display: flex;              /* Показываем активную вкладку */
}

.two_btns {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 10px;
}

.two_btns > *:nth-child(1) {
    margin-right: 20px;
}

.three_btns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.three_btns > * {
    margin: auto 10px;
}

.name_of_user {
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.text_center {
    text-align: center;
}

.red_text {
    color: rgb(172, 18, 18);
}

.modification_btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.mod_btn {
    margin: 0 0px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    display: block;
    line-height: normal;
}

.mod_btn:disabled,
.mod_btn:disabled a {
    color: #585858;
}

.form {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000aa;
    z-index: 4;
}

.form_content {
    background-color: #ecf1f4;
    border: 3px solid black;
    border-radius: 10px;
    width: 700px;
    /* height: 300px; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.form_input {
    font-size: 30px;
    border-radius: 0;
}

.form_form {
    display: flex;
    flex-direction: row;
}

.form_form > * > * {
    margin: 10px 0;
    font-size: 20px;
    color: #222222;
}

.form_form form {
    position: relative;
}

.form_labels {
    display: flex;
    flex-direction: column;
    width: max-content;
    flex: 1 1;
}

.form_labels > * {
    margin: auto 0;
}

.form_inputs {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
}

.form_inputs input,
.form_inputs select {
/* .form_inputs * { */
    border: 1px solid black;
}

.form_inputs p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.form_inputs p input {
    width: 35%;
    font-size: 20px;
}

.X {
    position: absolute;
    font-size: 50px;
    right: 40px;
    top: 40px;
}

.strong {
    font-weight: bold;
}

.error {
    background-color: rgb(158, 36, 36);
    color: rgb(238, 228, 228);
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

.error:empty {
    display: none;
}

.img {
    height: 7vh;
}

.download_btn {
    font-size: calc(0.8em + 0.5vh + 0.3vw);
    margin: 5px 0;
}

.mo_delivery_block .form__block {
    min-height: 0;
}


#myProgress {
    width: 100%;
    border: 1px solid #15539e;
    border-radius: 8px;
    margin: 10px 0 0 0;
}

#myBar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 1%;
    height: 30px;
    background-color: #b4e1ff;
    border-radius: 10px;
    color: black;
    font-size: 18px;
}

.mo_classification {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0;
    border-right: none;
}

.smoothly {
    transition: all ease 0.5s;
}

.none_height {
    max-height: 0;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}


.background_img {
    position: fixed;
    top: 0;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    background-attachment: fixed;
}

.notification_link * {
    padding: 5px 0;
}

.notification_title {
    font-weight: bold;
    font-size: calc(0.5em + 0.5vh + 0.3vw);
}

.notification_description {
    border-bottom: 1px solid #000a;
    font-size: calc(0.4em + 0.5vh + 0.3vw);
}

.notification_description::before {
    content: "― ";
}

.delete_notification {
    position: absolute;
    top: 0;
    right: 0%;
    font-size: max(20px, 2rem);
    width: fit-content;
    background-color: transparent;
    color: rgb(1, 38, 63);
}

.blur4px {
    backdrop-filter: blur(4px);
}

.overflow-hidden{
    overflow: hidden;
    min-height: fit-content;
}