{% extends 'home/base.html' %}

{% block content %}
    <div class="form__block">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="fields">
                {% for p in form2 %}
                    <div class="fields__input">
                        <div class="fields__input__label">
                            {{ p.label }}:
                        </div>
                        <div class="fields__input__field">
                            {{ p }}
                        </div>
                    </div>
                    <p>{{ p.errors }}</p>
                {% endfor %}
            </div>
            <div class="submit-btn">
                <button class="btn" type="submit">Добавить доктора</button>
            </div>
        </form>
    </div>
{% endblock %}