{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <a href="{{request.META.HTTP_REFERER}}" class="back_btn">Вернуться</a>
</div>

    <div class="form__block">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="fields">
                <div class="fileds-in-row">
                    <div class="fields__input">
                        <div class="fields__input__label">
                            {{ form.disease.label }}:
                        </div>
                        <div class="fields__input__field">
                            {{ form.disease }}
                        </div>
                    </div>
                    <div class="submit-btn">
                        <input type="button" id="clear" value="Очистить">
                    </div>
                </div>

                <div class="data_btns">
                    <button class="data_btn"></button><br>
                    <button class="data_btn"></button><br>
                    <button class="data_btn"></button><br>
                    <button class="data_btn"></button><br>
                    <button class="data_btn"></button><br>
                </div>
                <div class="data hide">{{ deseases }}</div>

                
                <div class="fields__input">
                    <div class="fileds-in-row">
                        <div class="fields__input__label">
                            {{ form.date_cured.label }}:
                        </div>
                        <div class="fields__input__field">
                            {{ form.date_cured }}
                        </div>
                    </div>
                </div>
                <div class="submit-btn">
                    <button type="submit">Добавить историю болезни</button>
                </div>
            </div>
            <div class="submit-btn">
                <input type="submit" value="Обновить">
            </div>
        </form>

    </div>



    <script type="text/javascript">
        var data = document.getElementsByClassName('data')[0].innerHTML.split(';')
        
        var buttons = document.getElementsByClassName('data_btn')
        for (let btn of buttons) {
            btn.onclick = () => {
                document.getElementById('id_disease').value = btn.innerHTML
            }
        }
        var search_field = document.getElementById('id_disease')
        search_field.setAttribute('autocomplete', 'off')
        
        search_field.onkeyup = (e) => {
            let pattern = search_field.value.toLowerCase()
            let sliced_data = data.filter(x => x.toLowerCase().includes(pattern)).slice(0, 5)
            for (let i = 0; i < 5; i++)
                buttons[i].innerHTML = sliced_data[i] ? sliced_data[i] : ''
        }
        search_field.onkeyup()
        
        document.getElementById('clear').onclick = e => {
            document.getElementById('id_disease').value = ''
            search_field.onkeyup()
        }
    </script>
{% endblock %}