{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

<form action="" method="POST">
    {% csrf_token %}
    <div class="fields">
        {% for p in form %}
        <div class="fields__input">
            <div class="fields__input__label">
                {{ p.label_tag }}
            </div>
            <div class="fields__input__field">
                {{ p }}
            </div>
            <div>
        </div>
        <p>{{ p.errors }}</p>
        {% endfor %}
    </div>
    <button type="submit" class="btn">Добавить</button>
</form>

{% endblock %}