{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

<div class="form__block">
    <div class="outer_div">
        <div class="border_div">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="fields add_form">
                    {% for p in form %}
                    <div class="fields__input">
                        <div class="fields__input__label">
                            {{ p.label_tag }}
                        </div>
                        <div class="fields__input__field">
                            {{ p }}
                        </div>
                    </div>
                    {{ p.errors }}
                    {% endfor %}
                    {{ form.errors }}
                </div>
                <div class="submit-btn">
                    <button type="submit" class="btn">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}