{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

{% if user.doctor %}
<div class="cut_width">
    <div class="block__profile__docs">
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                {% comment %} <a href="{% url 'portion-page' current_user.id 'pregnant_woman_monitoring' 'pregnant_woman_monitoring' %}">Наблюдения за беременной</a> {% endcomment %}
                <a href="{% url 'observation' current_user.id 'pregnant_woman_monitoring' %}">Наблюдения за беременной</a>
            </div>
        </div>
    </div>
    <div class="block__profile__docs">
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                <a href="{% url 'portion-page' current_user.id 'examination_list' 'examination_list' %}">Лист обследования</a>
            </div>
        </div>
    </div>
    {% for key, name in keys_names %}
    <div class="block__profile__docs">
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                <a href="{% url 'observation' current_user.id key %}">{{ name }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}