{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

{% if user.doctor %}
<div class="center_div">
    <div class="cut_width">
        <a href="{% url 'observation' current_user.id 'pregnant_woman_monitoring' %}">
            <div class="block__profile__docs">
                <div class="block__lines">
                    <div class="lines__element btn same_btn">
                        Наблюдения за беременной
                    </div>
                </div>
            </div>
        </a>
        <a href="{% url 'portion-page' current_user.id 'examination_list' 'examination_list' %}">
            <div class="block__profile__docs">
                <div class="block__lines">
                    <div class="lines__element btn same_btn">
                        Лист обследования
                    </div>
                </div>
            </div>
        </a>
        {% for key, name in keys_names %}
        <a href="{% url 'observation' current_user.id key %}">
            <div class="block__profile__docs">
                <div class="block__lines">
                    <div class="lines__element btn same_btn">
                        {{ name }}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}