{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

{% if user.doctor %}
    <div class="block__profile__docs">
        <div class="block__lines">
            <div class="lines__element btn">
                <a href="{% url 'portion-page' current_user.id 'determine_antibodies' 'determine_antibodies' %}">Определение антител</a>
            </div>
        </div>
    </div>
    {% for key, name in keys_names %}
    <div class="block__profile__docs">
        <div class="block__lines">
            <div class="lines__element btn">
                <a href="{% url 'observation' current_user.id key %}">{{ name }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="block__profile__docs">
        <div class="block__lines">
            <div class="lines__element btn">
                <a href="{% url 'portion-page' current_user.id 'ultrasound' 'ultrasound' %}">Узи</a>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}