{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

<div class="block__profile__docs">
    <div class="block__lines">
        <div class="lines__element btn">
            Направление на оказание медицинских услуг
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn">
            Протокол инструментального исследования
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn">
            Протокол лабораторного исследования
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn">
            Осмотр (консультация) пациента
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn">
            Лечение в условиях стационара (дневного стационара)
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn">
            Выписной эпикриз родильного дома
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn">
            Протокол цитологического исследования
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn">
            Медицинское свидетельство о смерти (CDA)
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn">
            Медицинское свидетельство о перинатальной смерти (CDA)
        </div>
    </div>
</div>
{% endblock %}