{% extends 'home/base.html' %}

{% block content %}
<header class="login__header">
    <img src="" alt="Логотип">
    <h2>Вход</h2>
    <img src="" alt="Справка">
</header>

<div class="login__wraper">
    <div class="login">
        
        <form method="POST" action="">
            {% csrf_token %}
            <div class="fields">
                <div class="fields__input">
                    <div class="fields__input__label">
                        Имя пользователя:
                    </div>
                    <div class="fields__input__field">
                        <input type="text" name="username">
                    </div>
                </div>
                <div class="fields__input">
                    <div class="fields__input__label">
                        Пароль:
                    </div>
                    <div class="fields__input__field">
                        <input type="password" name="password">
                    </div>
                </div>
            </div>
            <div class="submit-btn">
                <input type="submit" value="Войти">
            </div>
        </form>
    </div>
</div>
{% endblock %}