{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <a href="{% url 'profile' current_user.id %}" class="back_btn">Вернуться</a>
</div>
<div class="block__lines">
    <div class="lines__element btn">
        <p><a href="{% url 'update-medical-card' current_user.id %}">Изменить</a></p>
    </div>
</div>

<form action="" method="post">
        {% csrf_token %}
        <div class="fields">
            {% for p in form %}

                {% if p.field.choices %}
                    <div class="fields__input">
                        <div class="fields__input__label">
                            {{ p.label_tag }}
                        </div>
                        <div class="fields__input__field noborder">
                            {% for i in p.field.choices %}
                                {% if p.value == i.0 %}
                                    {{i.1}}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% elif p.value %}
                    <div class="fields__input">
                        <div class="fields__input__label">
                            {{ p.label_tag }}
                        </div>
                        <div class="fields__input__field noborder">
                            {{ p.value }}
                        </div>
                    </div>
                {% elif not p.value %}
                    <div class="fields__input">
                        <div class="fields__input__label">
                            {{ p.label_tag }}
                        </div>
                        <div class="fields__input__field noborder">
                            ---------
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    </form>
{% endblock %}