{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>
<div class="block__lines">
    <div class="lines__element btn">
        <p><a href="{% url 'update-medical-card' current_user.id %}">Изменить</a></p>
    </div>
</div>
<div class="block__lines">
    <div class="lines__element btn">
        <p><a href="{% url 'appearance' current_user.id %}">Добавить риски осложнений</a></p>
    </div>
</div>

<div style="font-size: 30px">
    Пациент: <strong>{{ current_user.patient.get_full_name }}</strong>
</div>

<div class="fields center_div">
    {% for p in form %}
    <div class="fields__input">
        <div class="fields__input__label">
            {{ p.label_tag }}
        </div>
        <div class="fields__input__field noborder">
        {% if p.field.choices %}
            {% for i in p.field.choices %}
                {% if p.value == i.0 %}
                    {% if not i.0 %}
                        ---------
                    {% else %}
                        {{i.1}}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% elif not p.value %}
            ---------
        {% elif p.value %}
            {{ p.value }}
        {% endif %}
        </div>
    </div>
    {% endfor %}
    {% for risk, complication_risk_forms in risks %}
        {% for p in risk %}
        <div class="fields__input">
            <div class="fields__input__label">
                {{ p.label_tag }}
            </div>
            <div class="fields__input__field noborder">
            {% for i in p.field.choices %}
                {% if p.value == i.0 %}
                    {{i.1}}
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% for risk_form in complication_risk_forms %}
                {% for p in risk_form %}
                <div class="fields__input">
                    <div class="fields__input__label">
                        {{ p.label_tag }}
                    </div>
                    <div class="fields__input__field noborder">
                    {% if not p.value %}
                        ---------
                    {% elif p.value %}
                        {{ p.value }}
                    {% endif %}
                    </div>
                </div>
                {% endfor %}
        {% endfor %}
    {% endfor %}
</div>

<script type='text/javascript'>
    function set_name_with_border(name, id, count) {
        let elem = document.querySelector(`label[for=id_${id}]`);
        if (elem === null)
            return;
        elem = elem.parentNode.parentNode;
        
        let label = document.createElement('h3');
        label.innerText = name + ':';
        
        let inner_div = document.createElement('div');
        inner_div.setAttribute('class', 'border_div');
        
        for(let i = 0; i < count; i++) {
            let next = elem.nextElementSibling;
            inner_div.appendChild(elem);
            elem = next;
            if (elem === null)
                break;
        }
        
        let div = document.createElement('div');
        div.setAttribute('class', 'outer_div');
        div.appendChild(label);
        div.appendChild(inner_div);
        document.getElementsByClassName('fields')[0].prepend(div);
    }
    
    let nodes_id = [
        ['Личные данные','date_of_birth', 15],
        ['Сведения об аллергии','allergy',2],
        ['Сведения о группе крови и Rh-факторе','mother_blood_group',6],
        ['Данные по беременности','pregnancy_count',4],
        ['Роды','childbirth_date',3],
        ['Диагноз','diagnosis',2],
        ['Сопутствующие заболевания','somatic_diseases',2],
        // ['Подтверждение','doctor_confirmation',1],
        ['Декретный отпуск','maternity_leave_start', 5],
        ['Риски осложнений','visit', 1000000]
    ]
    
    for (let [name, id, count] of nodes_id) {
        set_name_with_border(name, id, count);
    }
    
    var fields = document.getElementsByClassName('fields')[0];
    for (let elem of fields.children) {
        fields.prepend(elem);
    }
</script>
{% endblock %}