{% extends 'home/base.html' %}

{% block content %}
<div class="center-div">
<h1>Пациенты</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="search">
            {% if btn %}
            <button type="submit">{{ btn }}</button>
            {% else %}
            <button type="submit">Искать</button>
            {% endif %}
        </div>
    </form>
    {% for patient in users %}
    <div class="center-div-record">
        <p>ФИО: {{ patient.get_full_name }}</p>
        <p>Дата рождения: {{ patient.date_of_birth }}</p>
        <p><a href="{% url 'profile' patient.user.id %}">Профиль</a></p>
    </div>
    {% endfor %}
</div>
{% if page_obj.has_other_page %}
<div class="pagination">
    {% for p in paginator.page_range %}
    <p>
        {% if page_obj.number == p %}
        <span>{{ p }}</span>
        {% else %}
        <a href="?page={{ p }}">{{ p }}</a>
        {% endif %}
    </p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}