{% extends 'home/base.html' %}

{% block content %}

<div class="block__lines">
    <div class="lines__element">
        <p><a href="{% url 'patients' %}">Поиск пациентов</a></p>
    </div>
    <div class="lines__element">
        <p><a href="{% url 'recent-patients' %}">Недавние</a></p>
    </div>
</div>

<div class="title__block">
    <h2>Пациенты</h2>
</div>

<div class="form__block">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="fields">
            <div class="fields__input">
                <div class="fields__input__field">
                    <input type="text" name="search" minlength="2">
                </div>
                {% if btn %}
                    <div class="">
                        <button type="submit" class="btn">{{ btn }}</button>
                    </div>
                {% else %}
                    <div class="">
                        <button type="submit" class="btn">Искать</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>

{% if error is not None %}
    <div class="form__block">
        <p>Неверный шаблон: {{ error }}</p>
    </div>
{% endif %}

<div class="user__block">
    {% for patient in users %}
        <div class="user__block__row">
            <div class="user__block__element">
                <p>ФИО: {{ patient.get_full_name }}</p>
            </div>
            <div class="user__block__element">
                <p>Дата рождения: {{ patient.date_of_birth }}</p>
            </div>
            <div class="user__block__element">
                <p><a href="{% url 'profile' patient.user.id %}">Профиль</a></p>
            </div>
        </div>
    {% endfor %}
</div>

{% if page_obj.has_other_pages %}
    <div class="paginate">
        {% if page_obj.has_previous %}
            <div class="paginate__element">
                <a href="?page=1">First</a>
            </div>
            <div class="paginate__element">
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </div>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <div class="paginate__element">
                    <a href="?page={{ num }}">{{ num }}</a>
                </div>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <div class="paginate__element">
                    <a href="?page={{ num }}">{{ num }}</a>
                </div>    
            {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
            <div class="paginate__element">
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            </div>
            <div class="paginate__element">
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            </div>
        {% endif %}
    </div>
{% endif %}
{% endblock %}