{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

{% if user.doctor %}
<div class="cut_width">
    {% for key, name in keys_names %}
    <div class="block__profile__docs">
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                <a href="{% url 'observation' current_user.id key %}">{{ name }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% comment %} <div class="block__profile__docs">
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                <a href="{% url 'observation' current_user.id key %}">{{ name }}</a>
            </div>
        </div>
    </div> {% endcomment %}
</div>
{% endif %}
{% endblock %}