{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

<div class="block__profile">
    {% if user.doctor %}
    <div class="block__profile__info">
        <h3>Индивидуальная карта</h3>
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                <p><a href="{% url 'medical-card' profile.user.id %}">Медицинская карта</a></p>
            </div>
        </div>
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                <p><a href="{% url 'patient-info' profile.user.id %}">Сведения о пациентке</a></p>
            </div>
        </div>
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                <p><a href="{% url 'pregnancy-observation' profile.user.id %}">Наблюдение во время настоящей беременности</a></p>
            </div>
        </div>
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                <p><a href="{% url 'add-reception' profile.user.id %}">Добавить прием</a></p>
            </div>
        </div>
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                <p><a href="{% url 'portion-page' profile.user.id 'doctors_examinations' 'doctors_examinations' %}">Осмотры врачей специалистов</a></p>
            </div>
        </div>
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                <p><a href="{% url 'portion-page' profile.user.id 'current_pregnancy' 'current_pregnancy' %}">Текущая беременность</a></p>
            </div>
        </div>
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                <p><a href="{% url 'profile-models-template' profile.user.id 'hospitalization' %}">Сведения о госпитализации во время беременности</a></p>
            </div>
        </div>
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                <p><a href="{% url 'pregnancy-outcome' profile.user.id %}">Исход беременности и родов</a></p>
            </div>
        </div>
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                <p><a href="{% url 'self-monitoring' profile.user.id %}">Записи самонаблюдений</a></p>
            </div>
        </div>
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                <p><a href="{% url 'update-mo-delivery' profile.user.id %}">МО родоразрешения</a></p>
            </div>
        </div>
        <div class="block__lines">
            <div class="lines__element btn same_btn">
                <p><a href="{% url 'samd' profile.user.id %}">СЭМД документы</a></p>
            </div>
        </div>
    </div>
    {% endif %}
    
    <div class="">
        <div class="">
            <div class="fields__input">
                <div class="fields__input__label">
                    <strong><p>ФИО:</p></strong>
                </div>
                <div class="fields__input__field noborder">
                    {{ form.instance.get_full_name }}
                </div>
            </div>
            {% for p in form %}
            <div class="fields__input">
                <div class="fields__input__label">
                    <strong>{{ p.label_tag }}</strong>
                </div>
                <div class="fields__input__field noborder">
                {% if p.field.choices %}
                    {% for i in p.field.choices %}
                        {% if p.value == i.0 %}
                            {{i.1}}
                        {% endif %}
                    {% endfor %}
                {% elif p.value %}
                    {{ p.value }}
                {% elif not p.value %}
                    ---------
                {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="fields__input">
                <div class="fields__input__label">
                    <strong>Дата рождения:</strong>
                </div>
                <div class="fields__input__field noborder">
                    {% if date_of_birth %}
                        {{date_of_birth}}
                    {% else %}
                        не указана
                    {% endif %}
                </div>
            </div>
            <div class="fields__input">
                <div class="fields__input__label">
                    <strong>Адрес проживания:</strong>
                </div>
                <div class="fields__input__field noborder">
                    {% if residence_address %}
                        {{residence_address}}
                    {% else %}
                        не указан
                    {% endif %}
                </div>
            </div>
            <div class="fields__input">
                <div class="fields__input__label">
                    <strong>Баллы перинатального риска:</strong>
                </div>
                <div class="fields__input__field noborder">
                    {{risk_values_sum}}
                </div>
            </div>
            <div class="fields__input">
                <div class="fields__input__label">
                    <strong>Преэклампсия:</strong>
                </div>
                <div class="fields__input__field noborder">
                    {{preeclampsia}}
                </div>
            </div>
            <div class="fields__input">
                <div class="fields__input__label">
                    <strong>Преждевременные роды: </strong>
                </div>
                <div class="fields__input__field noborder">
                    {{premature_birth}}
                </div>
            </div>
            <div class="fields__input">
                <div class="fields__input__label">
                    <strong>Лечащий врач:</strong>
                </div>
                <div class="fields__input__field noborder">
                    {{treating_doctor}}
                </div>
            </div>
            <div class="fields__input">
                <div class="fields__input__label">
                    <strong>Срок беременности:</strong>
                </div>
                <div class="fields__input__field noborder">
                    {% if gestation_period %}
                        {{gestation_period}} недель
                    {% else %}
                        не указан
                    {% endif %}
                </div>
            </div>
        </div>
        
        {% if user.is_superuser %}
            <div class="block__lines">
                {% comment %} <div class="lines__element btn">
                    <p><a href="{% url 'update-profile' profile.user.id %}">Изменить</a></p>
                </div> {% endcomment %}
                {% if not user.patient %}
                <div class="lines__element">
                    <p><button class="btn delete_btn">Удалить</button></p>
                </div>
                {% endif %}
                {% comment %} {% if user.doctor %}
                <div class="lines__element btn">
                    <p><a href="{% url 'self-monitoring' profile.user.id %}">Дневник самонаблюдений</a></p>
                </div>
                {% endif %} {% endcomment %}
            </div>
        {% endif %}
       
        {% if user.doctor %}
            <div class="">
                <div class="fields__input">
                    <form action="{% url 'follow-unfollow' %}" method="post">
                        {% csrf_token %}
                        <div class="fields__input__field hide">
                            <input type="hidden" name="profile_pk" value="{{profile.pk}}">
                        </div>
                        {% if follow %}
                        <div class="">
                            <button id="unfollow-btn" class="btn" type="submit">Отвязать</button>
                        </div>
                        {% else %}
                        <div class="">
                            <button id="follow-btn" class="btn" type="submit">Привязать</button>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        {% endif %}
    
        <div>
            <h4>Планы посещений пациента</h4>
        </div>
        {% if notes %}
            <div class="block__profile__disease">
                <div class="block__lines">
                    <div class="lines__element">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{% if user.patient %}
                                        Пациент
                                        {% else %}
                                        Доктор
                                        {% endif %}
                                    </th>
                                    {% if user.is_superuser %}
                                    <th>Пациент</th>
                                    {% endif %}
                                    <th>Дата</th>
                                    <th>Медицинская организация</th>
                                    <th>Специальность</th>
                                    <th>Номер посещения специалиста</th>
                                    <th>Кабинет</th>
                                    <th>Посещено</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for note in notes %}
                                <tr>
                                    <td>
                                        {% if user.patient %}
                                            <p>{{ note.patient.get_full_name }}</p>
                                        {% else %}
                                            <p>{{ note.doctor.get_full_name }}</p>
                                        {% endif %}
                                    </td>
                                    {% if user.is_superuser %}
                                    <td><p>{{ note.patient.get_full_name }}</p></td>
                                    {% endif %}
                                    <td><p class="">{{ note.date_meeting }}</p></td>
                                    <td><p>{{ note.get_med_organization_display }}</p></td>
                                    <td><p>{{ note.get_specialization_display }}</p></td>
                                    <td><p>{{ note.visit_number }}</p></td>
                                    <td><p>{{ note.cabinet }}</p></td>
                                    <td><p>{{ note.status }}</p></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Посещения не назначены</p>
        {% endif %}
    </div>
</div>

<div class="banner" style="display: none;">
    <div class="lines__element banner__content">
        <p>Вы действительно хотите удалить пациента?</p>
        <button type="button" class="btn cancel_btn">Отменить</button>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Удалить</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    var delete_btn = document.getElementsByClassName('delete_btn')[0];
    var cancel_btn = document.getElementsByClassName('cancel_btn')[0];
    var banner = document.getElementsByClassName('banner')[0];
    
    delete_btn.onclick = e => {
        banner.style.display = 'flex';
    }
    cancel_btn.onclick = e => {
        banner.style.display = 'none';
    }
</script>
<script type='text/javascript'>
    for (let name of ["first", "last", "father"]) {
        var elem = document.querySelector('label[for=id_'+name+'_name]')
        // console.log(elem);
        elem.parentNode.parentNode.parentNode.remove()
    }
</script>
{% endblock %}