{% extends 'home/base.html' %}

{% block content %}
<a href="{% url 'patients' %}" class="back_btn">Вернуться</a>

<form action="" method="post">
    {% csrf_token %}
    <div class="fields">
        {% for p in form %}

            {% if p.field.choices %}
                <p>{{ p.label_tag }}
                    {% for i in p.field.choices %}
                        {% if p.value == i.0 %}
                            {{i.1}}
                        {% endif %}
                    {% endfor %}
                </p>
            {% elif p.value %}
                <p>{{ p.label_tag }} {{ p.value }}</p>
            {% elif not p.value %}
                <p>{{ p.label_tag }}  ---------</p>
            {% endif %}

        {% endfor %}
    </div>
</form>
<div>
    <p><a href="{% url 'update-profile' profile.user.id %}">Изменить</a></p>
    <p><a href="{% url 'delete-profile' profile.user.id %}">Удалить</a></p>
    
    {% if user.doctor %}
    <p><a href="{% url 'add-reception' profile.user.id %}">Назначить прием</a></p>
    <form action="{% url 'follow-unfollow' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="profile_pk" value="{{profile.pk}}">
        {% if follow %}
            <button id="unfollow-btn" type="submit">Убрать</button>
        {% else %}
            <button id="follow-btn" type="submit">Добавить</button>
        {% endif %}
    </form>
    <p><a href="{% url 'add-disease' profile.user.id %}">Добавить историю болезни</a></p>
    {% endif %}
</div>

{% if user_type != 'doctor' %}
    <p><strong>История заболеваний:</strong></p>
    <div class="diseases">
        {% for disease in diseases %}
            <p>{{ disease.disease }}</p>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}