{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

<div class="block__profile">
    {% if user.doctor %}
    <div class="block__profile__info">
        <h3>Индивидуальная карта</h3>
        <a href="{% url 'medical-card' profile.user.id %}">
            <div class="block__lines">
                <div class="lines__element  same_btn">
                    <p>Медицинская карта</p>
                </div>
            </div>
        </a>
        <a href="{% url 'patient-info' profile.user.id %}">
            <div class="block__lines">
                <div class="lines__element  same_btn">
                    <p>Сведения о пациентке</p>
                </div>
            </div>
        </a>
        <a href="{% url 'current-pregnancy-info' profile.user.id %}">
            <div class="block__lines">
                <div class="lines__element  same_btn">
                    <p>Сведения о настоящей беременности</p>
                </div>
            </div>
        </a>
        <a href="{% url 'pregnancy-observation' profile.user.id %}">
            <div class="block__lines">
                <div class="lines__element  same_btn">
                    <p>Наблюдение во время настоящей беременности</p>
                </div>
            </div>
        </a>
        <a href="{% url 'profile-models-template' profile.user.id 'hospitalization' %}">
            <div class="block__lines">
                <div class="lines__element  same_btn">
                    <p>Сведения о госпитализации во время беременности</p>
                </div>
            </div>
        </a>
        <a href="{% url 'add-reception' profile.user.id %}">
            <div class="block__lines">
                <div class="lines__element  same_btn">
                    <p>План посещений</p>
                </div>
            </div>
        </a>
        <a href="{% url 'portion-page' profile.user.id 'doctors_examinations' 'doctors_examinations' %}">
            <div class="block__lines">
                <div class="lines__element  same_btn">
                    <p>Осмотры врачей специалистов</p>
                </div>
            </div>
        </a>
        <a href="{% url 'self-monitoring' profile.user.id %}">
            <div class="block__lines">
                <div class="lines__element  same_btn">
                    <p>Дневник самонаблюдений</p>
                </div>
            </div>
        </a>
        <a href="{% url 'pregnancy-outcome' profile.user.id %}">
            <div class="block__lines">
                <div class="lines__element  same_btn">
                    <p>Исход беременности и родов</p>
                </div>
            </div>
        </a>
        <a href="{% url 'samd' profile.user.id %}">
            <div class="block__lines">
                <div class="lines__element  same_btn">
                    <p>Журнал документов для ВИМИС</p>
                </div>
            </div>
        </a>
        <div class="block__lines">
            <div class="">
                <div id="status">
                    <div id="myProgress">
                        <div id="myBar" style="width: {{quality|floatformat:0 }}%">
                            <div>
                                {{quality|floatformat:0 }}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% elif user.is_superuser %}
    <div></div>
    {% endif %}
    
    <div class="">
        <div class="profile_data">
            <table>
                <tbody>
                    {% for p in form %}
                    <tr>
                        <td><strong>{{ p.label_tag }}</strong></td>
                        <td>
                            {% if p.field.choices %}
                                {% for i in p.field.choices %}
                                    {% if p.value == i.0 %}
                                        {{i.1}}
                                    {% endif %}
                                {% endfor %}
                            {% elif p.value %}
                                {{ p.value }}
                            {% elif not p.value %}
                                ---------
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><strong>Лечащий врач:</strong></td>
                        <td>{{ treating_doctor }}</td>
                    </tr>
                </tbody>
            </table>
            <table>
                {% for name, val in risks %}
                <tr>
                    <td><strong>{{ name }}</strong></td>
                    <td>
                    {% if val %}
                        {% if name == 'Срок беременности' and user.doctor.role == 'obstetrician-gynecologist' %}
                            {{ val }} недель
                        {% else %}
                            {{ val }}
                        {% endif %}
                    {% else %}
                        Недостаточно данных
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td><strong>МО родоразрешения: </strong></td>
                    <td><a href="{% url 'update-mo-delivery' profile.user.id %}">{% if mo_delivery.delivery %}{{ mo_delivery.get_delivery_display }}{% else %}Введите данные{% endif %}</a></td>
                </tr>
            </table>
        </div>
        
        {% if user.is_superuser %}
        <div class="block__lines" style="margin-top: 20px">
            <div class="lines__element">
                <p><button class="btn delete_btn">Удалить</button></p>
            </div>
            {% if user_type == 'doctor' %}
            <div class="lines__element">
                <p><a href="{% url 'update-profile' profile.user.id %}" class="btn">Изменить</a></p>
            </div>
            {% endif %}
        </div>
        {% endif %}
        
        {% if user.doctor %}
            {% if not profile.doctors.all.0 or profile.doctors.all.0 == user.doctor %}
                <div class="fields__input" style="margin-top: 20px">
                    <form action="{% url 'follow-unfollow' %}" method="post">
                        {% csrf_token %}
                        <div class="fields__input__field hide">
                            <input type="hidden" name="profile_pk" value="{{profile.pk}}">
                        </div>
                        {% if follow %}
                        <div class="">
                            <button id="unfollow-btn" class="btn" type="submit">Отвязать</button>
                        </div>
                        {% else %}
                        <div class="">
                            <button id="follow-btn" class="btn" type="submit">Привязать</button>
                        </div>
                        {% endif %}
                    </form>
                </div>
            {% endif %}
        {% endif %}
        {% comment %} {% if not user.patient %}
        <a href="{% url 'update-profile' profile.user.id %}">
            <div class="fields__input btn">
                <p>Изменить</p>
            </div>
        </a>
        {% endif %} {% endcomment %}
        
        <div>
            <h3>Планы посещений</h3>
        </div>
        {% if notes %}
        <div class="block__profile__disease border_div">
            <div class="block__lines">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Доктор</th>
                            <th>Дата записи</th>
                            <th>Услуга</th>
                            <th>Срок выполнения</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for note in notes %}
                        <tr class="chooseable">
                            <input type="hidden" name="{{ note.pk }}" value="{{ note.pk }}">
                            {% if note.doctor %} <td>{{ note.doctor }}</td> {% else %} <td>Не назначен</td> {% endif %}
                            <td>{{ note.date_recording }}</td>
                            {% if note.status == 'recorded' %}
                            <td>{{ note.get_service_display }}</td>
                            {% else %}
                            <td>{{ note.get_service_display }}</td>
                            {% endif %}
                            <td>{{ note.deadline }}</td>
                            {% if note.status == 'required' %}
                            <td><span>{{ note.get_status_display }}</span></td>
                            {% elif note.status == 'recorded' %}
                            <td><span>{{ note.get_status_display }}: {{ note.date_meeting }}</span></td>
                            {% elif note.status == 'completed' %}
                            <td><span>{{ note.get_status_display }}: {{ note.date_completed }}</span></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
            <p>Посещения не назначены</p>
        {% endif %}
    </div>
</div>

<div class="banner" style="display: none;">
    <div class="lines__element banner__content">
        <strong><h3>Вы действительно хотите удалить пациента?</h3></strong>
        <div style="display: flex">
            <button type="button" class="btn cancel_btn" style="margin-right: 30px">Отменить</button>
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Удалить</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var delete_btn = document.getElementsByClassName('delete_btn')[0];
    var cancel_btn = document.getElementsByClassName('cancel_btn')[0];
    var banner = document.getElementsByClassName('banner')[0];
    
    delete_btn.onclick = e => {
        banner.style.display = 'flex';
    }
    cancel_btn.onclick = e => {
        banner.style.display = 'none';
    }
</script>
{% comment %} <script type='text/javascript'>
    for (let name of ["first", "last", "father"]) {
        var elem = document.querySelector('label[for=id_'+name+'_name]')
        // console.log(elem);
        elem.parentNode.parentNode.parentNode.remove()
    }
</script> {% endcomment %}
{% endblock %}