{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

<div class="block__profile__docs cut_width">
    <div class="block__lines">
        <div class="lines__element btn same_btn">
            <a href="{% url 'generate-samd' profile_id 'medical_services_provision_referral' %}">Направление на оказание медицинских услуг</a>
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn same_btn">
            <a href="{% url 'generate-samd' profile_id 'instrumental_research_protocol' %}">Протокол инструментального исследования</a>
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn same_btn">
            <a href="{% url 'generate-samd' profile_id 'laboratory_test_protocol' %}">Протокол лабораторного исследования</a>
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn same_btn">
            <a href="{% url 'generate-samd' profile_id 'patient_examination_consultation' %}">Осмотр (консультация) пациента</a>
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn same_btn">
            <a href="{% url 'generate-samd' profile_id 'treatment_in_hospital' %}">Лечение в условиях стационара (дневного стационара)</a>
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn same_btn">
            <a href="{% url 'generate-samd' profile_id 'maternity_hospital_discharge_epicrisis' %}">Выписной эпикриз родильного дома</a>
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn same_btn">
            <a href="{% url 'generate-samd' profile_id 'cytological_examination_protocol' %}">Протокол цитологического исследования</a>
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn same_btn">
            <a href="{% url 'generate-samd' profile_id 'medical_death_certificate' %}">Медицинское свидетельство о смерти (CDA)</a>
        </div>
    </div>
    <div class="block__lines">
        <div class="lines__element btn same_btn">
            <a href="{% url 'generate-samd' profile_id 'medical_perinatal_death_certificate' %}">Медицинское свидетельство о перинатальной смерти (CDA)</a>
        </div>
    </div>
</div>
{% endblock %}