{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <a href="{% url 'profile' curent_user.id %}" class="back_btn">Вернуться</a>
</div>

{% if user.doctor %}
    {% if exists %}
        {% for record in records %}
        <div class="outer_div">
            <div class="border_div">
                <div class="user__block__element">
                    <p><strong>Название:</strong> {{ record.title }}</p>
                </div>
                <div class="user__block__element">
                    <p><strong>Описание:</strong> {{ record.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <h3>Нет наблюдений</h3>
    {% endif %}
{% endif %}
<script type="text/javascript">
</script>
{% endblock %}