{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <a href="{% url 'profile' curent_user.id %}" class="back_btn">Вернуться</a>
</div>

{% if user.doctor %}
    {% if exists %}
        {% for form in forms %}
        <div class="fields">
            {% for p in form %}
            <div class="fields__input">
                <div class="fields__input__label">
                    {{ p.label_tag }}
                </div>
                <div class="fields__input__field noborder">
                {% if p.field.choices %}
                    {% for i in p.field.choices %}
                        {% if p.value == i.0 %}
                            {{i.1}}
                        {% endif %}
                    {% endfor %}
                {% elif not p.value %}
                    ---------
                {% elif p.value %}
                    {{ p.value }}
                {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    {% else %}
    <h3>Нет наблюдений</h3>
    {% endif %}
{% endif %}
<script type="text/javascript">
</script>
{% endblock %}