{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>
<div class="back__button">
    <a href="{% url 'update-observation' current_user.id model_name -1 %}">Добавить</a>
</div>

<h3>{{ page_name }}</h3>

{% if exists %}
{% for form in forms %}
<div class="fields">
    <div class="outer_div">
        <div class="border_div">
            {% for p in form %}
                <div class="fields__input">
                    <div class="fields__input__label">
                        <strong>{{ p.label_tag }}</strong>
                    </div>
                    <div class="fields__input__field noborder">
                    {% if p.field.choices %}
                        {% for i in p.field.choices %}
                            {% if p.value == i.0 %}
                                {% if not i.0 %}
                                    ---------
                                {% else %}
                                    {{i.1}}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% elif p.value %}
                        {{ p.value }}
                    {% else %}
                        ---------
                    {% endif %}
                    </div>
                </div>
                {% endfor %}
                {{ form.errors }}
                <div class="btn">
                    <a href="{% url 'update-observation' current_user.id model_name form.instance.pk %}">Изменить</a>
            </div>
            <div>
                <button class="btn delete_btn">Удалить</button>
                <input type="hidden" value="{{ form.instance.pk }}">
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="banner" style="display: none;">
    <div class="lines__element banner__content">
        <p>Вы действительно хотите удалить?</p>
        <button type="button" class="btn cancel_btn">Отменить</button>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Удалить</button>
            <input type="hidden" id='delete_outcome' name="delete" value="{{ form.instance.pk }}">
        </form>
    </div>
</div>

<script type="text/javascript">
    var delete_btns = document.getElementsByClassName('delete_btn');
    var hidden_input = document.getElementById('delete_outcome');
    var cancel_btn = document.getElementsByClassName('cancel_btn')[0];
    var banner = document.getElementsByClassName('banner')[0];
    
    for (let delete_btn of delete_btns) {
        delete_btn.onclick = e => {
            hidden_input.value = delete_btn.nextElementSibling.value
            banner.style.display = 'flex';
        }
    }
    cancel_btn.onclick = e => {
        banner.style.display = 'none';
    }
</script>
{% else %}
<div>
    <h4>Нет данных</h4>
</div>
{% endif %}

{% endblock %}