{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

<div class="center_div">
    <div class="outer_div">
        <div class="border_div">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="fields__input__label"><strong>Статистика родов</strong></div>
                <div class="fields add_form">
                    {% for p in form %}
                    <div class="fields__input">
                        <div class="fields__input__label">
                            <strong>{{ p.label_tag }}</strong>
                        </div>
                        <div class="fields__input__field">
                            {{ p }}
                        </div>
                    </div>
                    {{ p.errors }}
                    {% endfor %}
                    {{ form.errors }}
                </div>
                <div class="submit-btn">
                    <button type="submit" class="btn">Рассчитать</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="statistics_block">
    <table class="statistics_table">
        <thead style="position: static">
            <tr>
                <th style="font-weight: 600; font-size: 30px"><strong>Статистика</strong></th>
                <th style="font-weight: 600; font-size: 30px"><strong>Значение</strong></th>
            </tr>
        </thead>
        <tbody>
            {% for k, v in stats.items %}
            <tr>
                <td>{{ k }}:</td>
                {% if v.items %}
                    <td></td>
                    {% for k1, v1 in v.items %}
                    <tr>
                        <td class="tabulation">&#x2022;{{ k1 }}:</td> <td>{{ v1 }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                <td>{{ v }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% comment %} <div class="block__lines">
        <p><strong>Доля поступивших беременных под наблюдение консультации со сроком беременности до 12 недель:</strong> {{p_1}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Частота прерываний беременности (на 1000 женщин в возрасте 15 - 49 лет):</strong> {{p_3}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля обследованных беременных женщин в первом триместре беременности прошедших оценку антенатального развития плода в 11-14 недель беременности от числа поставленных на учет в первый триместр беременности:</strong> {{p_4}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Частота критических акушерских состояний во время беременности, родов и в течение 42 дней после ее окончания:</strong> {{p_5}}</p>
    </div>
    
    <div class="block__lines">
        <p><strong>Доля родов у женщин после лечения бесплодия методами ВРТ от общего числа родов:</strong> {{p_6}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов у женщин в возрасте ≥35 лет от общего числа родов:</strong> {{p_7}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов у женщин в возрасте меньше 18 лет от общего числа родов:</strong> {{p_8}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов у женщин с индексом массы тела до беременности ≥30 m(кг)/h2(м) от общего числа родов:</strong> {{p_9}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов у первородящих женщин от общего числа родов:</strong> {{p_10}}</p>
    </div>

    <div class="block__lines">
        <p><strong>Доля родов у женщин, вставших на учет до 12 недель беременности, от общего числа родов:</strong> {{p_11}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Мертворождаемость:</strong> {{p_12}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Мертворождаемость на сроке ≥ 28 недель беременности:</strong> {{p_13}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов у женщин с многоплодной беременностью от общего числа родов:</strong> {{p_14}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля кесаревых сечений от общего числа родов:</strong> {{p_15}}</p>
    </div>

    <div class="block__lines">
        <p><strong>Число случаев тяжелых преэклампсий на 1000 родов:</strong> {{p_16}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов вне медицинской организации от общего числа родов:</strong> {{p_17}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов у первородящих женщин при одноплодной беременности и тазовом предлежании от общего числа родов:</strong> {{p_18}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов у повторнородящих женщин с рубцом на матке (после предыдущего кесарева сечения) при одноплодной беременности и тазовом предлежании от общего числа родов:</strong> {{p_19}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Число случаев эклампсий на 1000 родов:</strong> {{p_20}}</p>
    </div>

    <div class="block__lines">
        <p><strong>Доля родов у женщин после лечения бесплодия методами вспомогательных репродуктивных технологий (ВРТ) от общего числа родов:</strong> {{p_21}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля эпизиотомий при одноплодной беременности и неоперативных вагинальных родах на сроке ≥37 недель беременности от общего числа неоперативных вагинальных родов при одноплодной беременности на сроке ≥37 недель:</strong> {{p_22}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Число случаев гнойно-септических заболеваний после кесарева сечения на 1000 операций кесарево сечение:</strong> {{p_23}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Число случаев гнойно-септических заболеваний после вагинальных родов на 1000 вагинальных родов:</strong> {{p_24}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Всего беременных за период с разбивкой на нормальную беременность/патологию (выполнение работ в рамках гарантийных обязательств по контракту):</strong> Нормальные - {{p_25.1}}. Патология - {{p_25.1}}</p>
    </div>

    <div class="block__lines">
        <p><strong>Всего родильниц за период с разбивкой на нормальные роды/патологию (выполнение работ в рамках гарантийных обязательств по контракту):</strong> Нормальные - {{p_26.1}}. Патология - {{p_26.1}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Всего родильниц, родивших за выбранный период, с разбивкой по возрастным группам (выполнение работ в рамках гарантийных обязательств по контракту):</strong>
            <p>До 14 лет: <span>{{p_27.to_14}}</span></p>
            <p>От 15 до 17 лет: <span>{{p_27.15_17}}</span></p>
            <p>От 18 до 34 лет: <span>{{p_27.18_34}}</span></p>
            <p>От 18 до 24 лет: <span>{{p_27.18_24}}</span></p>
            <p>От 25 до 29 лет: <span>{{p_27.25_29}}</span></p>
            <p>От 30 до 34 лет: <span>{{p_27.30_34}}</span></p>
            <p>От 35 до 44 лет: <span>{{p_27.35_44}}</span></p>
            <p>От 35 до 39 лет: <span>{{p_27.35_39}}</span></p>
            <p>От 40 до 44 лет: <span>{{p_27.40_44}}</span></p>
            <p>От 45 до 49 лет: <span>{{p_27.45_49}}</span></p>
            <p>От 50: <span>{{p_27.50_up}}</span></p>
    </div>
    <div class="block__lines">
        <p><strong>Структура заболеваемости беременных с группировкой по кодам МКБ-10 (выполнение работ в рамках гарантийных обязательств по контракту):</strong> {{p_28}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Структура заболеваемости родильниц с группировкой по кодам МКБ-10 (выполнение работ в рамках гарантийных обязательств по контракту):</strong> {{p_29}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Распределение всех пациенток по исходам беременности:</strong> 0,0</p>
    </div>

    <div class="block__lines">
        <p><strong>Распределение всех пациенток по срокам родоразрешения:</strong>
        <p>От 22 до 23 лет: <span>{{p_31.22_23}}</span></p>
        <p>От 24 до 27 лет: <span>{{p_31.24_27}}</span></p>
        <p>От 24 до 25 лет: <span>{{p_31.24_25}}</span></p>
        <p>От 26 до 27 лет: <span>{{p_31.26_27}}</span></p>
        <p>От 28 до 36 лет: <span>{{p_31.28_36}}</span></p>
        <p>От 28 до 30 лет: <span>{{p_31.28_30}}</span></p>
        <p>От 31 до 33 лет: <span>{{p_31.31_33}}</span></p>
        <p>От 34 до 36 лет: <span>{{p_31.34_36}}</span></p>
        <p>От 37 до 41 лет: <span>{{p_31.37_41}}</span></p>
        <p>От 42 лет: <span>{{p_31.42_up}}</span></p>
    </div> {% endcomment %}
</div>

<div class="data hide">{{ mkb_10 }}</div>
<div class="data_btns data_above hide">
    <button type="button" class="data_btn"></button><br>
    <button type="button" class="data_btn"></button><br>
    <button type="button" class="data_btn"></button><br>
    <button type="button" class="data_btn"></button><br>
    <button type="button" class="data_btn"></button><br>
</div>

<script type="text/javascript" defer mkb-helper>
    var data = document.getElementsByClassName('data')[0].innerHTML.split(';');
    var search_field = document.getElementById('id_diagnosis');
    var buttons = document.getElementsByClassName('data_btn');
    
    search_field.parentNode.parentNode.style.position = 'relative';
    search_field.parentNode.parentNode.appendChild(
        buttons[0].parentNode
    );
    
    for (let btn of buttons) {
        btn.onclick = () => {
            search_field.value = btn.innerHTML;
            btn.parentNode.classList.add('hide');
        }
    }
    search_field.setAttribute('autocomplete', 'off');
    
    search_field.onkeyup = (e) => {
        let pattern = search_field.value.toLowerCase();
        let sliced_data = data.filter(x => x.toLowerCase().includes(pattern)).slice(0, 5);
        if (sliced_data.length < 1) {
            buttons[0].parentNode.classList.add('hide');
        } else {
            buttons[0].parentNode.classList.remove('hide');
        }
        for (let i = 0; i < 5; i++)
            buttons[i].innerHTML = sliced_data[i] ? sliced_data[i] : '';
    }
    
    search_field.onfocus = (e) => {
        buttons[0].parentNode.classList.remove('hide');
    }
    document.body.onclick = (e) => {
        if (e.target == search_field ||
            e.target == buttons[0].parentNode ||
            [...buttons].indexOf(e.target) !== -1) {
                return;
        }
        buttons[0].parentNode.classList.add('hide');
    }
    
    search_field.onkeyup();
    document.body.onclick(data);
    // document.getElementById('clear').onclick = e => {
    //     search_field.value = '';
    //     search_field.onkeyup();
    // }
</script>
{% endblock %}