{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

<div class="center_div">
    <div class="outer_div">
        <div class="border_div">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="fields add_form">
                    {% for p in form %}
                    <div class="fields__input">
                        <div class="fields__input__label">
                            {{ p.label_tag }}
                        </div>
                        <div class="fields__input__field">
                            {{ p }}
                        </div>
                    </div>
                    {{ p.errors }}
                    {% endfor %}
                    {{ form.errors }}
                </div>
                <div class="submit-btn">
                    <button type="submit" class="btn">Рассчитать</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="statistics_block">
    <div class="block__lines">
        <p><strong>Доля поступивших беременных под наблюдение консультации со сроком беременности до 12 недель:</strong> {{p_1}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Частота прерываний беременности (на 1000 женщин в возрасте 15 - 49 лет):</strong> {{p_3}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля обследованных беременных женщин в первом триместре беременности прошедших оценку антенатального развития плода в 11-14 недель беременности от числа поставленных на учет в первый триместр беременности:</strong> {{p_4}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Частота критических акушерских состояний во время беременности, родов и в течение 42 дней после ее окончания:</strong> {{p_5}}</p>
    </div>

    <div class="block__lines">
        <p><strong>Доля родов у женщин после лечения бесплодия методами ВРТ от общего числа родов:</strong> {{p_6}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов у женщин в возрасте ≥35 лет от общего числа родов:</strong> {{p_7}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов у женщин в возрасте меньше 18 лет от общего числа родов:</strong> {{p_8}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов у женщин с индексом массы тела до беременности ≥30 m(кг)/h2(м) от общего числа родов:</strong> {{p_9}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов у первородящих женщин от общего числа родов:</strong> {{p_10}}</p>
    </div>

    <div class="block__lines">
        <p><strong>Доля родов у женщин, вставших на учет до 12 недель беременности, от общего числа родов:</strong> {{p_11}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Мертворождаемость:</strong> {{p_12}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Мертворождаемость на сроке ≥ 28 недель беременности:</strong> {{p_13}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов у женщин с многоплодной беременностью от общего числа родов:</strong> {{p_14}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля кесаревых сечений от общего числа родов:</strong> {{p_15}}</p>
    </div>

    <div class="block__lines">
        <p><strong>Число случаев тяжелых преэклампсий на 1000 родов:</strong> {{p_16}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов вне медицинской организации от общего числа родов:</strong> {{p_17}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов у первородящих женщин при одноплодной беременности и тазовом предлежании от общего числа родов:</strong> {{p_18}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля родов у повторнородящих женщин с рубцом на матке (после предыдущего кесарева сечения) при одноплодной беременности и тазовом предлежании от общего числа родов:</strong> {{p_19}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Число случаев эклампсий на 1000 родов:</strong> {{p_20}}</p>
    </div>

    <div class="block__lines">
        <p><strong>Доля родов у женщин после лечения бесплодия методами вспомогательных репродуктивных технологий (ВРТ) от общего числа родов:</strong> {{p_21}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Доля эпизиотомий при одноплодной беременности и неоперативных вагинальных родах на сроке ≥37 недель беременности от общего числа неоперативных вагинальных родов при одноплодной беременности на сроке ≥37 недель:</strong> {{p_22}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Число случаев гнойно-септических заболеваний после кесарева сечения на 1000 операций кесарево сечение:</strong> {{p_23}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Число случаев гнойно-септических заболеваний после вагинальных родов на 1000 вагинальных родов:</strong> {{p_24}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Всего беременных за период с разбивкой на нормальную беременность/патологию (выполнение работ в рамках гарантийных обязательств по контракту):</strong> Нормальные - {{p_25.1}}. Патология - {{p_25.1}}</p>
    </div>

    <div class="block__lines">
        <p><strong>Всего родильниц за период с разбивкой на нормальные роды/патологию (выполнение работ в рамках гарантийных обязательств по контракту):</strong> Нормальные - {{p_26.1}}. Патология - {{p_26.1}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Всего родильниц, родивших за выбранный период, с разбивкой по возрастным группам (выполнение работ в рамках гарантийных обязательств по контракту):</strong> {% for k, v in p_27.items %}<p>{{ k }}: <span>{{ v }}</span></p>{% endfor %}</p>
    </div>
    <div class="block__lines">
        <p><strong>Структура заболеваемости беременных с группировкой по кодам МКБ-10 (выполнение работ в рамках гарантийных обязательств по контракту):</strong> {{p_28}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Структура заболеваемости родильниц с группировкой по кодам МКБ-10 (выполнение работ в рамках гарантийных обязательств по контракту):</strong> {{p_29}}</p>
    </div>
    <div class="block__lines">
        <p><strong>Распределение всех пациенток по исходам беременности:</strong> 0,0</p>
    </div>

    <div class="block__lines">
        <p><strong>Распределение всех пациенток по срокам родоразрешения:</strong> {% for k, v in p_31.items %}<p>{{ k }}: <span>{{ v }}</span></p>{% endfor %}</p>
    </div>
</div>
{% endblock %}