{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

{% if user.doctor %}
    {% for key, name in keys_names %}
    <div class="block__profile__docs">
        <div class="block__lines">
            <div class="lines__element btn">
                <a href="{% url 'profile-models-template' current_user.id key %}">{{ name }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}
<div class="statistics_block">
    <div class="block__lines">
        Доля поступивших беременных под наблюдение консультации со сроком беременности до 12 недель: {{p_1}}
    </div>
    <div class="block__lines">
        Частота прерываний беременности (на 1000 женщин в возрасте 15 - 49 лет): {{p_3}}
    </div>
    <div class="block__lines">
        Доля обследованных беременных женщин в первом триместре беременности прошедших оценку антенатального развития плода в 11-14 недель беременности от числа поставленных на учет в первый триместр беременности: 0,0
    </div>
    <div class="block__lines">
        Частота критических акушерских состояний во время беременности, родов и в течение 42 дней после ее окончания: 0,0
    </div>
    <div class="block__lines">
        Доля родов у женщин после лечения бесплодия методами ВРТ от общего числа родов: 0,0
    </div>
    <div class="block__lines">
        Доля родов у женщин в возрасте ≥35 лет от общего числа родов: 0,0
    </div>
    <div class="block__lines">
        Доля родов у женщин в возрасте меньше 18 лет от общего числа родов: 0,0
    </div>
    <div class="block__lines">
        Доля родов у женщин с индексом массы тела до беременности ≥30 m(кг)/h2(м) от общего числа родов: 0,0
    </div>
    <div class="block__lines">
        Доля родов у первородящих женщин от общего числа родов: 0,0
    </div>
    <div class="block__lines">
        Доля родов у женщин, вставших на учет до 12 недель беременности, от общего числа родов: 0,0
    </div>
    <div class="block__lines">
        Мертворождаемость: 0,0
    </div>
    <div class="block__lines">
        Мертворождаемость на сроке ≥ 28 недель беременности: 0,0
    </div>
    <div class="block__lines">
        Доля родов у женщин с многоплодной беременностью от общего числа родов: 0,0
    </div>
    <div class="block__lines">
        Доля кесаревых сечений от общего числа родов: 0,0
    </div>
    <div class="block__lines">
        Число случаев тяжелых преэклампсий на 1000 родов: 0,0
    </div>
    <div class="block__lines">
        Доля родов вне медицинской организации от общего числа родов: 0,0
    </div>
    <div class="block__lines">
        Доля родов у первородящих женщин при одноплодной беременности и тазовом предлежании от общего числа родов: 0,0
    </div>
    <div class="block__lines">
        Доля родов у повторнородящих женщин с рубцом на матке (после предыдущего кесарева сечения) при одноплодной беременности и тазовом предлежании от общего числа родов: 0,0
    </div>
    <div class="block__lines">
        Число случаев эклампсий на 1000 родов: 0,0
    </div>
    <div class="block__lines">
        Доля родов у женщин после лечения бесплодия методами вспомогательных репродуктивных технологий (ВРТ) от общего числа родов: 0,0
    </div>
    <div class="block__lines">
        Доля эпизиотомий при одноплодной беременности и неоперативных вагинальных родах на сроке ≥37 недель беременности от общего числа неоперативных вагинальных родов при одноплодной беременности на сроке ≥37 недель: 0,0
    </div>
    <div class="block__lines">
        Число случаев гнойно-септических заболеваний после кесарева сечения на 1000 операций кесарево сечение: 0,0
    </div>
    <div class="block__lines">
        Число случаев гнойно-септических заболеваний после вагинальных родов на 1000 вагинальных родов: 0,0
    </div>
    <div class="block__lines">
        Всего беременных за период с разбивкой на нормальную беременность/патологию (выполнение работ в рамках гарантийных обязательств по контракту): 0,0
    </div>
    <div class="graph">
        
    </div>
    <div class="block__lines">
        Всего родильниц за период с разбивкой на нормальные роды/патологию (выполнение работ в рамках гарантийных обязательств по контракту): 0,0
    </div>
    <div class="block__lines">
        Всего родильниц, родивших за выбранный период, с разбивкой по возрастным группам (выполнение работ в рамках гарантийных обязательств по контракту): 0,0
    </div>
    <div class="graph">

    </div>
    <div class="block__lines">
        Структура заболеваемости беременных с группировкой по кодам МКБ-10 (выполнение работ в рамках гарантийных обязательств по контракту): 0,0
    </div>
    <div class="block__lines">
        Структура заболеваемости родильниц с группировкой по кодам МКБ-10 (выполнение работ в рамках гарантийных обязательств по контракту): 0,0
    </div>
    <div class="block__lines">
        Распределение всех пациенток по исходам беременности: 0,0
    </div>
    <div class="block__lines">
        Распределение всех пациенток по срокам родоразрешения: 0,0
    </div>
</div>
{% endblock %}