{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>
<div class="form__block">
    <div class="outer_div">
        <div class="border_div">
            <form action="" method="POST">
                <h3>{{ page_name }}</h3>
                {% csrf_token %}
                <div class="fields ">
                    {% for p in form %}
                    <div class="fields__input width_100">
                        <div class="fields__input__label same_btn">
                            <strong>{{ p.label_tag }}</strong>
                        </div>
                        <div class="fields__input__field same_btn">
                            {{ p }}
                        </div>
                    </div>
                    {{ p.errors }}
                    {% endfor %}
                    {{ form.errors }}
                </div>
                <div class="submit-btn">
                    <button type="submit" class="btn">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}