{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>

<div class="form__block">
    <div class="outer_div">
        <div class="border_div">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="fields">
                    {% for f in form %}
                    <div class="fields__input width_100">
                        <div class="fields__input__label">
                            <strong>{{ f.label }}:</strong>
                        </div>
                        <div class="fields__input__field">
                            {{ f }}
                        </div>
                    </div>
                    <p>{{ f.errors }}</p>
                    {% endfor %}
                </div>
                <div class="submit-btn">
                    <input type="submit" value="Сохранить">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}