{% extends 'home/base.html' %}

{% block content %}
<div class="back__button">
    <button type="button" onclick="history.back()" class="btn">Вернуться</button>
</div>


<div class="form__block" style="min-height: 0">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="fields center_div">
            <div class="tabs">
            </div>
            {% for p in form %}
            <div class="fields__input">
                <div class="fields__input__label">
                    <strong>{{ p.label_tag }}</strong>
                </div>
                <div class="fields__input__field">
                    {{ p }}
                </div>
            </div>
            {{ p.errors }}
            {% endfor %}
            {{ form.errors }}
        </div>
    </form>
</div>

<div class="data hide">{{ mkb_10 }}</div>
<div class="data_btns data_above hide">
    <button type="button" class="data_btn"></button><br>
    <button type="button" class="data_btn"></button><br>
    <button type="button" class="data_btn"></button><br>
    <button type="button" class="data_btn"></button><br>
    <button type="button" class="data_btn"></button><br>
</div>

<script type='text/javascript' defer>
    var fields = document.getElementsByClassName('fields')[0];
    var tabs = document.getElementsByClassName('tabs')[0];
    
    function set_name_with_border(name, id, count) {
        let elem = document.querySelector(`label[for=id_${id}]`);
        if (elem === null)
            return;
        elem = elem.parentNode.parentNode.parentNode;
        
        let label = document.createElement('legend');
        let h3 = document.createElement('h3');
        h3.innerText = name;
        label.appendChild(h3);
        
        let inner_div = document.createElement('div');
        
        for(let i = 0; i < count; i++) {
            let next = elem.nextElementSibling;
            inner_div.appendChild(elem);
            elem = next;
            if (elem === null)
                break;
        }
        
        let div = document.createElement('fieldset');
        div.setAttribute('class', 'outer_div');
        div.appendChild(label);
        div.appendChild(inner_div);
        fields.prepend(div);
    }
    
    function make_tabs(name, count, fildsets) {
        let label = document.createElement('label');
        label.innerText = name;
        label.classList.add('tab-title');
        label.setAttribute('for', `${name}`);
        
        let input = document.createElement('input');
        input.setAttribute('type', `radio`);
        input.setAttribute('id', `${name}`);
        input.setAttribute('name', `tab-group`);
        
        let section = document.createElement('section');
        section.classList.add('tab-content', 'center_div');
        
        if (count > fildsets.length) count = fildsets.length;
        
        for(let i = 0; i < count; i++) {
            section.appendChild(fildsets[i]);
        }
        section.innerHTML += `\
            <div class="submit-btn">\
                <button type="submit" class="btn">Сохранить</button>\
            </div>`
        
        let div = document.createElement('div');
        div.setAttribute('class', 'tab');
        div.appendChild(input);
        div.appendChild(label);
        div.appendChild(section);
        tabs.appendChild(div);
    }
    
    let nodes_id = [
        ['Личные данные','last_name', 15],
        ['Контактные данные', 'mobile_phone', 8],
        ['Доверенное лицо', 'trusted_person_fio', 2],
        ['Декретный отпуск','maternity_leave_start', 3],
        ['Родовой сертификат', 'generic_certificate_number', 2],
        ['Сведения об аллергии','allergy',2],
        ['Сведения о группе крови и Rh-факторе','mother_blood_group',6],
        ['Данные по беременности','pregnancy_count',4],
        ['Роды','childbirth_date',2],
        ['Диагноз','diagnosis',2],
        ['Сопутствующие заболевания','somatic_diseases',2],
        // ['Подтверждение','doctor_confirmation',1],
        ['Риски осложнений','visit', 1000000]
    ]
    
    for (let [name, id, count] of nodes_id) {
        set_name_with_border(name, id, count);
    }
    
    var fields = document.getElementsByClassName('fields')[0];
    for (let elem of fields.children) {
        fields.prepend(elem);
    }
    
    var tabs_names = [
        ['Личные данные', 1],
        ['Контактные данные', 2],
        ['Дополнительные данные', 4],
        ['Роды', 10],
    ]
    
    var fieldsets = [...document.querySelectorAll('fieldset')];
    
    for (let [name, count] of tabs_names) {
        make_tabs(name, count, fieldsets.splice(0, count));
    }
    
    document.querySelector('input[id="Личные данные"]').setAttribute('checked', '');
</script>
<script type="text/javascript" defer mkb-helper>
    var data = document.getElementsByClassName('data')[0].innerHTML.split(';');
    var search_field = document.getElementById('id_diagnosis');
    var buttons = document.getElementsByClassName('data_btn');
    
    search_field.parentNode.parentNode.style.position = 'relative';
    search_field.parentNode.parentNode.appendChild(
        buttons[0].parentNode
    );
    
    for (let btn of buttons) {
        btn.onclick = () => {
            search_field.value = btn.innerHTML;
        }
    }
    search_field.setAttribute('autocomplete', 'off');
    
    search_field.onkeyup = (e) => {
        let pattern = search_field.value.toLowerCase();
        let sliced_data = data.filter(x => x.toLowerCase().includes(pattern)).slice(0, 5);
        if (sliced_data.length < 1) {
            buttons[0].parentNode.classList.add('hide');
        } else {
            buttons[0].parentNode.classList.remove('hide');
        }
        for (let i = 0; i < 5; i++)
            buttons[i].innerHTML = sliced_data[i] ? sliced_data[i] : '';
    }
    
    search_field.onfocus = (e) => {
        buttons[0].parentNode.classList.remove('hide');
    }
    document.body.onclick = (e) => {
        if (e.target == search_field ||
            e.target == buttons[0].parentNode ||
            [...buttons].indexOf(e.target) !== -1) {
                return;
        }
        buttons[0].parentNode.classList.add('hide');
    }
    
    search_field.onkeyup();
    document.body.onclick(data);
    // document.getElementById('clear').onclick = e => {
    //     search_field.value = '';
    //     search_field.onkeyup();
    // }
</script>
{% endblock %}